{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Aurreikusitako epeak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('aurreikusi_new') }}" class="fa fa-plus"> Epe berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {#<h1>Aurreikusitako epeak</h1>#}

    <table class="table">
        <thead>
            <tr>
                <th>Epea</th>
                {#<th>Epeaes</th>#}
                {#<th>Id</th>#}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for aurreikusi in aurreikusis %}
            <tr>
                <td>{{ aurreikusi.epeaeu }}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('aurreikusi_edit', { 'id': aurreikusi.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[aurreikusi.id],{'attr': {'id': aurreikusi.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ aurreikusi.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[aurreikusi.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[aurreikusi.id],{'attr': {'id': aurreikusi.id}}) }}
                                <a href="#" onclick="ezabatu({{ aurreikusi.id }});" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[aurreikusi.id]) }}</li>
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if aurreikusis is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'aurreikusi_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>Ez da emaitzarik topatu</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id)
        {
            var r = confirm("Epea EZABATU. Ziur zaude?");
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}