{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datuen-babesa aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}


    <div class="row">
        <div class="col-sm-3">
            <div>
                {{ form_label(edit_form.maila, 'Maila: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.maila) }}
                {{ form_widget(edit_form.maila, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                {{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.kodea) }}
                {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.izenaeu, 'Izena (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.izenaeu) }}
                {{ form_widget(edit_form.izenaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.izenaes, 'Izena (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.izenaes) }}
                {{ form_widget(edit_form.izenaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.xedeaeu, 'Xedea (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.xedeaeu) }}
                {{ form_widget(edit_form.xedeaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.xedeaes, 'Xedea (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.xedeaes) }}
                {{ form_widget(edit_form.xedeaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.lagapenakeu, 'Lagapenak (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.lagapenakeu) }}
                {{ form_widget(edit_form.lagapenakeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.lagapenakes, 'Lagapenak (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.lagapenakes) }}
                {{ form_widget(edit_form.lagapenakes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>




    <div class="row hidden">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

<div class="fitxaMenua">
    <ul>
        <li><input type="submit" value="Gorde" class="btn btn-primary"/></li>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('datuenbabesa_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
</div>
{% endblock %}
