{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.datuenbabesa'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('datuenbabesa_new') }}" class="fa fa-plus"> {{ 'messages.berria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}

    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.kodea'|trans }}</th>
                <th>{{ 'messages.maila'|trans }}</th>
                <th>{{ 'messages.izena'|trans }}</th>
                <th>{{ 'messages.xedea'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for datuenbabesa in datuenbabesas %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ datuenbabesa.udala }}</td>{% endif %}
                <td>{{ datuenbabesa.kodea }}</td>
                <td>{{ datuenbabesa.maila }}</td>
                <td>
                    {% if app.request.locale == 'es'%}{{ datuenbabesa.izenaes }}
                    {% else %}{{ datuenbabesa.izenaeu }}
                    {% endif %}
                </td>
                <td>
                    {% if app.request.locale == 'es'%}{{ datuenbabesa.xedeaes }}
                    {% else %}{{ datuenbabesa.xedeaeu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('datuenbabesa_edit', { 'id': datuenbabesa.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[datuenbabesa.id],{'attr': {'id': datuenbabesa.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ datuenbabesa.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[datuenbabesa.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[datuenbabesa.id],{'attr': {'id': datuenbabesa.id}}) }}
                                <a href="#" onclick="ezabatu({{ datuenbabesa.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[datuenbabesa.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if datuenbabesas is not empty %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}