{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Datuen-babesa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('datuenbabesa_new') }}" class="fa fa-plus"> Sarrera berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {#<h1>Datuen-babesa</h1>#}

    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Maila</th>
                <th>Izenaeu</th>
                <th>Xedeaeu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for datuenbabesa in datuenbabesas %}
            <tr>
                <td>{{ datuenbabesa.kodea }}</td>
                <td>{{ datuenbabesa.maila }}</td>
                <td>{{ datuenbabesa.izenaeu }}</td>
                <td>{{ datuenbabesa.xedeaeu }}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('datuenbabesa_edit', { 'id': datuenbabesa.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[datuenbabesa.id],{'attr': {'id': datuenbabesa.id}}) }}
                                <a href="#" onclick="document.getElementById({{ datuenbabesa.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[datuenbabesa.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
