{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saila aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.kodea) }}
                {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.arduraduna, 'Arduraduna: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.arduraduna) }}
                {{ form_widget(edit_form.arduraduna, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.sailaeu, 'Saila (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.sailaeu) }}
                {{ form_widget(edit_form.sailaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.sailaes, 'Saila (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.sailaes) }}
                {{ form_widget(edit_form.sailaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



<div class="fitxaMenua">
    <ul>
        <input type="submit" value="Gorde" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('saila_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
</div>
{% endblock %}
