{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('saila_new') }}" class="btn btn-primary">Sail berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Sailak</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Saila</th>
                {#<th>Sailaes</th>#}
                <th>Arduraduna</th>
                {#<th>Id</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for saila in sailas %}
            <tr>
                <td><a href="{{ path('saila_edit', { 'id': saila.id }) }}">{{ saila.kodea }}</a></td>
                <td><a href="{{ path('saila_edit', { 'id': saila.id }) }}">{{ saila.sailaeu }}</a></td>
                {#<td>{{ saila.sailaes }}</td>#}
                <td>{{ saila.arduraduna }}</td>
                {#<td>{{ saila.id }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('saila_show', { 'id': saila.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('saila_edit', { 'id': saila.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#<div class="fitxaMenua">#}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('saila_new') }}" class="btn btn-primary">Sail berria</a>#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{% endblock %}
