{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ebazleen zerrenda</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nork</th>
                {#<th>Norkes</th>#}
                {#<th>Id</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for norkebatzi in norkebatzis %}
            <tr>
                <td><a href="{{ path('norkebatzi_edit', { 'id': norkebatzi.id }) }}">{{ norkebatzi.norkeu }}</a></td>
                {#<td>{{ norkebatzi.norkes }}</td>#}
                {#<td>{{ norkebatzi.id }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('norkebatzi_show', { 'id': norkebatzi.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('norkebatzi_edit', { 'id': norkebatzi.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="fitxaMenua">
    <ul>
        <li>
            <a href="{{ path('norkebatzi_new') }}" class="btn btn-primary">Create a new entry</a>
        </li>
    </ul>
</div>
{% endblock %}
