{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Fitxak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()">Gorde</a></li>
                    {#<li><a href="{{ path('fitxa_show') }}" >Fitxa ikusi</a></li>#}
                    <li><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}" >Fitxa ikusi</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
{#-        {{ //form_widget(edit_form) }} -#}

    <div class="row">
        <div class="col-md-2 text-center">
            <img src='{{ fitxa.udala.logoa }}' />
            <h4>{{ fitxa.udala.izendapenaeu }}</h4>
            <h5>{{ fitxa.udala.ifk }}</h5>
        </div>

        <div class="col-md-2"><br /><br />
            <h1>
            {{ form_label(edit_form.espedientekodea, 'KODEA: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.espedientekodea) }}
            {{ form_widget(edit_form.espedientekodea, {'attr': {'class': 'form-control ckeditor'}}) }}
            </h1>
        </div>

        <div class="col-md-8">
            <h1>
                {{ form_label(edit_form.deskribapenaeu, 'Deskribapena: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.deskribapenaeu) }}
                {{ form_widget(edit_form.deskribapenaeu, {'attr': {'class': 'form-control'}}) }}
            </h1>
            <h3>
                {{ form_label(edit_form.deskribapenaes, 'Descripción: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.deskribapenaes) }}
                {{ form_widget(edit_form.deskribapenaes, {'attr': {'class': 'form-control'}}) }}
            </h3>
        </div>
    </div>

    {% if eremuak.helburuatext %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.helburualabeleu }}</h2>
            </div>
            <div>
                {{ form_errors(edit_form.helburuaeu) }}
                {{ form_widget(edit_form.helburuaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.helburualabeles }}</h2>
            </div>
            <div>
                {{ form_errors(edit_form.helburuaes) }}
                {{ form_widget(edit_form.helburuaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.norkeskatutext or eremuak.norkeskatutable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.norkeskatulabeleu }}</h2>
            </div>
            {% if eremuak.norkeskatutext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.norkeu) }}
                {{ form_widget(edit_form.norkeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.norkeskatulabeleu }}</h2>
            </div>
            {% if eremuak.norkeskatutext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.norkes) }}
                {{ form_widget(edit_form.norkes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.norkeskatutable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="hidden col-sm-12">
        {% endif %}
                <div>
                <br/>
                {{ form_errors(edit_form.norkeskatuak) }}
                {{ form_widget(edit_form.norkeskatuak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.dokumentazioatext or eremuak.dokumentazioatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.dokumentazioalabeleu }}</h2>
            </div>
            {% if eremuak.dokumentazioatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.dokumentazioaeu) }}
                {{ form_widget(edit_form.dokumentazioaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.dokumentazioalabeles }}</h2>
            </div>
            {% if eremuak.dokumentazioatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.dokumentazioaes) }}
                {{ form_widget(edit_form.dokumentazioaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.dokumentazioatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(edit_form.dokumentazioak) }}
                {{ form_widget(edit_form.dokumentazioak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.doklaguntext or eremuak.doklaguntable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.doklagunlabeleu }}</h2>
            </div>
            {% if eremuak.doklaguntext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.doklaguneu) }}
                {{ form_widget(edit_form.doklaguneu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.doklagunlabeles }}</h2>
            </div>
            {% if eremuak.doklaguntext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.doklagunes) }}
                {{ form_widget(edit_form.doklagunes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.doklaguntable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(edit_form.doklagunak) }}
                {{ form_widget(edit_form.doklagunak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.kanalatext or eremuak.kanalatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kanalalabeleu }}</h2>
            </div>
            {% if eremuak.kanalatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.kanalaeu) }}
                {{ form_widget(edit_form.kanalaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kanalalabeles }}</h2>
            </div>
            {% if eremuak.kanalatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.kanalaes) }}
                {{ form_widget(edit_form.kanalaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.kanalatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            {{ form_errors(edit_form.kanalak) }}
            {{ form_widget(edit_form.kanalak, {'attr': {'class': 'form-control select2'}}) }}
        </div>
    </div>


    {% if (eremuak.kostuatext or eremuak.kostuatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kostualabeleu }}</h2>
            </div>
            {% if eremuak.kostuatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.kostuaeu) }}
                {{ form_widget(edit_form.kostuaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kostualabeles }}</h2>
            </div>
            {% if eremuak.kostuatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.kostuaes) }}
                {{ form_widget(edit_form.kostuaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.kostuatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(edit_form.azpiatalak) }}
                {{ form_widget(edit_form.azpiatalak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.ebazpensinpli or eremuak.arduraaitorpena or eremuak.aurreikusi or eremuak.arrunta or eremuak.isiltasunadmin) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.epealabeleu }}</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.epealabeles }}</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% if eremuak.aurreikusi %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {#{{ form_label(edit_form.aurreikusi, 'Aurreikusitako epea / Plazo estimado', { 'label_attr': {'class': 'control-label'} }) }}#}
                <label class="control-label">{{ labelak.aurreikusilabeleu }}/{{ labelak.aurreikusilabeles }}</label>
                {{ form_errors(edit_form.aurreikusi) }}
                {{ form_widget(edit_form.aurreikusi, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if eremuak.arrunta %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.arruntalabeleu }}/{{ labelak.arruntalabeles }}</label>
                {{ form_errors(edit_form.arrunta) }}
                {{ form_widget(edit_form.arrunta, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if eremuak.ebazpensinpli %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.ebazpensinplilabeleu }}</label>
                {{ form_errors(edit_form.ebazpensinpli) }}
                {{ form_widget(edit_form.ebazpensinpli, {'attr': {'class': 'c-checkbox'}}) }}
                <label class="control-label">{{ labelak.ebazpensinplilabeles }}</label>
            </div>
            {% if eremuak.arduraaitorpena %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.arduraaitorpenalabeleu }}</label>
                {{ form_errors(edit_form.arduraaitorpena) }}
                {{ form_widget(edit_form.arduraaitorpena, {'attr': {'class': 'c-checkbox'}}) }}
                <label class="control-label">{{ labelak.arduraaitorpenalabeles }}</label>
            </div>
            {% if eremuak.isiltasunadmin %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.isiltasunadminlabeleu }}/{{ labelak.isiltasunadminlabeles }}</label>
                {{ form_errors(edit_form.isiltasunadmin) }}
                {{ form_widget(edit_form.isiltasunadmin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.araudiatext or eremuak.araudiatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.araudialabeleu }}</h2>
            </div>
            {% if eremuak.araudiatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.araudiaeu) }}
                {{ form_widget(edit_form.araudiaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.araudialabeles }}</h2>
            </div>
            {% if eremuak.araudiatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.araudiaes) }}
                {{ form_widget(edit_form.araudiaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.araudiatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(edit_form.araudiak) }}
                {{ form_widget(edit_form.araudiak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.prozeduratext or eremuak.prozeduratable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.prozeduralabeleu }}</h2>
            </div>
            {% if eremuak.prozeduratext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.prozeduraeu) }}
                {{ form_widget(edit_form.prozeduraeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.prozeduralabeles }}</h2>
            </div>
            {% if eremuak.prozeduratext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(edit_form.prozeduraes) }}
                {{ form_widget(edit_form.prozeduraes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.prozeduratable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(edit_form.prozedurak) }}
                {{ form_widget(edit_form.prozedurak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.norkebatzitext or eremuak.norkebatzitable) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                        <h2>{{ labelak.norkebatzilabeleu }}</h2>
                </div>
                {% if eremuak.norkebatzitext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.norkonartueu) }}
                        {{ form_widget(edit_form.norkonartueu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.norkebatzilabeles }}</h2>
                </div>
                {% if eremuak.norkebatzitext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.norkonartues) }}
                        {{ form_widget(edit_form.norkonartues, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.norkebatzitable %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        {{ form_errors(edit_form.norkebatzi) }}
                        {{ form_widget(edit_form.norkebatzi, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.azpisailalabeleu }}</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.azpisailalabeles }}</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_errors(edit_form.azpisaila) }}
                {{ form_widget(edit_form.azpisaila, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if eremuak.oharraktext %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.oharraklabeleu }}</h2>
                </div>
                <div>
                    {{ form_errors(edit_form.oharrakeu) }}
                    {{ form_widget(edit_form.oharrakeu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.oharraklabeles }}</h2>
                </div>
                <div>
                    {{ form_errors(edit_form.oharrakes) }}
                    {{ form_widget(edit_form.oharrakes, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                {#<h2>{{ labelak.eu }}</h2>#}
                <h2>JARRAIBIDEAK (barne erabilera)</h2>
            </div>
        <div>
                    {{ form_errors(edit_form.jarraibideakeu) }}
                    {{ form_widget(edit_form.jarraibideakeu, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                {#<h2>{{ labelak.es }}</h2>#}
                <h2>INSTRUCCIONES (uso interno)</h2>
            </div>
            <div>
                {{ form_errors(edit_form.jarraibideakes) }}
                {{ form_widget(edit_form.jarraibideakes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



    {% if (eremuak.besteak1text or eremuak.besteak1table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak1labeleu }}</h2>
                </div>
                {% if eremuak.besteak1text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak1eu) }}
                        {{ form_widget(edit_form.besteak1eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak1labeles }}</h2>
                </div>
                {% if eremuak.besteak1text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak1es) }}
                        {{ form_widget(edit_form.besteak1es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak1table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <br/>
                    {{ form_errors(edit_form.besteak1ak) }}
                    {{ form_widget(edit_form.besteak1ak, {'attr': {'class': 'form-group select2'}}) }}
                </div>
        </div>



    {% if (eremuak.besteak2text or eremuak.besteak2table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak2labeleu }}</h2>
                </div>
                {% if eremuak.besteak2text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak2eu) }}
                        {{ form_widget(edit_form.besteak2eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak2labeles }}</h2>
                </div>
                {% if eremuak.besteak2text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak2es) }}
                        {{ form_widget(edit_form.besteak2es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak2table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                <div>
                    <br/>
                    {{ form_errors(edit_form.besteak2ak) }}
                    {{ form_widget(edit_form.besteak2ak, {'attr': {'class': 'form-group select2'}}) }}
                </div>
            </div>
        </div>

    {% if (eremuak.besteak3text or eremuak.besteak3table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak3labeleu }}</h2>
                </div>
                {% if eremuak.besteak3text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak3eu) }}
                        {{ form_widget(edit_form.besteak3eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak3labeleu }}</h2>
                </div>
                {% if eremuak.besteak3text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.besteak3es) }}
                        {{ form_widget(edit_form.besteak3es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak2table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        <br/>
                        {{ form_errors(edit_form.besteak3ak) }}
                        {{ form_widget(edit_form.besteak3ak, {'attr': {'class': 'form-group select2'}}) }}
                    </div>
                </div>
        </div>

    {% if (eremuak.datuenbabesatext or eremuak.datuenbabesatable) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.datuenbabesalabeleu }}</h2>
                </div>
                {% if eremuak.datuenbabesatext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.datuenbabesaeu) }}
                        {{ form_widget(edit_form.datuenbabesaeu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.datuenbabesalabeles }}</h2>
                </div>
                {% if eremuak.datuenbabesatext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(edit_form.datuenbabesaes) }}
                        {{ form_widget(edit_form.datuenbabesaes, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.datuenbabesatable %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        {{ form_errors(edit_form.datuenbabesa) }}
                        {{ form_widget(edit_form.datuenbabesa, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
        </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>FAMILIAK</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>FAMILIAS</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_errors(edit_form.familiak) }}
                {{ form_widget(edit_form.familiak, {'attr': {'class': 'form-control select2'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>ETIKETAK</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>ETIQUETAS</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_errors(edit_form.etiketak) }}
                {{ form_widget(edit_form.etiketak, {'attr': {'class': 'form-control select2'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>ESPEDIENTE KUDEAKETA</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>GESTIÓN DE EXPEDIENTES</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_label(edit_form.zerbitzua, 'Zerbitzua', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.zerbitzua) }}
                {{ form_widget(edit_form.zerbitzua, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(edit_form.parametroa, 'Parametroa', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.parametroa) }}
                {{ form_widget(edit_form.parametroa, {'attr': {'class': 'form-control'}}) }}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>ADMIN</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>ADMIN</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_label(edit_form.udala, 'Udala', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(edit_form.kontsultak, 'Kontsulta kopurua:', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.kontsultak) }}
                {{ form_widget(edit_form.kontsultak, {'attr': {'class': 'form-control'}}) }}


                {{ form_errors(edit_form.publikoa) }}
                {{ form_widget(edit_form.publikoa, {'attr': {'class': 'c-checkbox'}}) }}
                {{ form_label(edit_form.publikoa, 'Publikoa', { 'label_attr': {'class': 'control-label'} }) }}

                {{ form_errors(edit_form.hitzarmena) }}
                {{ form_widget(edit_form.hitzarmena, {'attr': {'class': 'c-checkbox'}}) }}
                {{ form_label(edit_form.hitzarmena, 'Hitzarmenean?', { 'label_attr': {'class': 'control-label'} }) }}

                <br>
                {{ form_label(edit_form.createdAt, 'Noiz sortua', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.createdAt) }}
                {{ form_widget(edit_form.createdAt, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(edit_form.updatedAt, 'Azken aldaketa', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.updatedAt) }}
                {{ form_widget(edit_form.updatedAt, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

{#<div class="fitxaMenua">#}
    {#<ul>#}
        {#<li><input type="submit" value="Gorde" class="btn btn-primary"/></li>#}
        {#<li><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}" class="btn btn-primary">Fitxa ikusi</a></li>#}
    {{ form_end(edit_form) }}


        {#<li>#}
            {#<a href="{{ path('fitxa_index') }}" class="btn btn-primary">Zerrendara itzuli</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#fitxa_etiketak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_familiak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_kanalak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_doklagunak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak1ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak2ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak3ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_azpiatalak').select2({
                theme: 'bootstrap',
                tags: true
            });
//            $('#fitxa_tramiteak').select2({
//                theme: 'bootstrap',
//                tags: true
//            });
            $('#fitxa_dokumentazioak').select2({
                theme: 'bootstrap',
                tags: true
            });


        });
    </script>
{% endblock %}