{% extends 'base.html.twig' %}

{% block menua %}
    {{ parent() }}
        {% if is_granted('ROLE_USER') %}
        <nav class="navbar navbar-default navbar-lower navbar-fixed" data-spy="affix" data-offset-top="5">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"> {{ 'messages.fitxak'|trans }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('fitxa_new') }}" class="fa fa-plus"> {{ 'messages.fitxaberria'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.kodea'|trans }}</th>
                <th>{{ 'messages.deskribapena'|trans }}</th>
                <th>{{ 'messages.saila'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for fitxa in fitxas %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ fitxa.udala }}</td>{% endif %}
                <td>{{ fitxa.espedientekodea }}</td>
                <td><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}">
                        {% if app.request.locale == 'es'%}{{ fitxa.deskribapenaes }}
                        {% else %}{{ fitxa.deskribapenaeu }}
                        {% endif %}
                </a></td>
                <td>
                    {% if fitxa.azpisaila %}
                        {% if fitxa.azpisaila.saila %}
                            {% if app.request.locale == 'es'%}{{ fitxa.azpisaila.saila.sailaes }}
                            {% else %}{{ fitxa.azpisaila.saila.sailaeu }}
                            {% endif %}

                        {% endif %}
                        {% if app.request.locale == 'es'%}<br>{{ fitxa.azpisaila.azpisailaes }}
                        {% else %}<br>{{ fitxa.azpisaila.azpisailaeu }}
                        {% endif %}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right"><ul class="list-inline">
                    <li><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}" ><i class="fa fa-search"></i></a></li>
                    <li><a href="{{ path('fitxa_pdf', { 'id': fitxa.id }) }}" target="_blank" ><i class="fa fa-file-pdf-o"></i></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>{{ form_start(deleteforms[fitxa.id],{'attr': {'id': fitxa.id}}) }}
                            <a href="#" onclick="ezabatu({{ fitxa.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                            {{ form_end(deleteforms[fitxa.id]) }}</li>
                    {% endif %}
                    </ul></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{#<div class="text-center">#}
    {#{% if fitxas is not empty %}#}
        {#{% if pager.haveToPaginate %}#}
            {#{{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'fitxa_index_paginated'}) }}#}
        {#{% endif %}#}
    {#{% else %}#}
        {#<p>{{ 'messages.emaitzarikez'|trans }}</p>#}
    {#{% endif %}#}
{#</div>#}
{% endblock %}
{#{% block javascripts %}#}
    {#{{ parent() }}#}


{#{% endblock %}#}