{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Deskribapena</th>
                <th>Saila</th>
            </tr>
        </thead>
        <tbody>
        {% for fitxa in fitxas %}
            <tr>
                <td>{{ fitxa.espedientekodea }}</td>
                <td><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}">{{ fitxa.deskribapenaeu }}<br>
                {{ fitxa.deskribapenaes }}</a></td>
                <td>
                    {% if fitxa.azpisaila %} {{ fitxa.azpisaila.saila }}<br>{{ fitxa.azpisaila }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fitxa_new') }}">Fitxa berria</a>
        </li>
    </ul>
{% endblock %}
