{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Fitxak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()">Gorde</a></li>
                    <li><a href="{{ path('fitxa_index') }}" >Utzi</a></li>
                    {#<li><a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}" >Fitxa ikusi</a></li>#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}

    <div class="row">
        <div class="col-md-2 text-center">
            <img src='{{ fitxa.udala.logoa }}' />
            <h4>{{ fitxa.udala.izendapenaeu }}</h4>
            <h5>{{ fitxa.udala.ifk }}</h5>
        </div>

        <div class="col-md-2"><br /><br />
            <h1>
                {{ form_label(form.espedientekodea, 'KODEA: ', { 'label_attr': {'class': 'control-label'} }) }}
                {#{{ form_errors(new_form.espedientekodea) }}#}
                {{ form_widget(form.espedientekodea, {'attr': {'class': 'form-control ckeditor'}}) }}
            </h1>
        </div>

        <div class="col-md-8">
            <h1>
                {{ form_label(form.deskribapenaeu, 'Deskribapena: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(form.deskribapenaeu) }}
                {{ form_widget(form.deskribapenaeu, {'attr': {'class': 'form-control'}}) }}
            </h1>
            <h3>
                {{ form_label(form.deskribapenaes, 'Descripción: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(form.deskribapenaes) }}
                {{ form_widget(form.deskribapenaes, {'attr': {'class': 'form-control'}}) }}
            </h3>
        </div>
    </div>

    {% if eremuak.helburuatext %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.helburualabeleu }}</h2>
            </div>
            <div>
                {{ form_errors(form.helburuaeu) }}
                {{ form_widget(form.helburuaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.helburualabeles }}</h2>
            </div>
            <div>
                {{ form_errors(form.helburuaes) }}
                {{ form_widget(form.helburuaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.norkeskatutext or eremuak.norkeskatutable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.norkeskatulabeleu }}</h2>
            </div>
            {% if eremuak.norkeskatutext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.norkeu) }}
                {{ form_widget(form.norkeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.norkeskatulabeleu }}</h2>
            </div>
            {% if eremuak.norkeskatutext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.norkes) }}
                {{ form_widget(form.norkes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.norkeskatutable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="hidden col-sm-12">
        {% endif %}
                <div>
                <br/>
                {{ form_errors(form.norkeskatuak) }}
                {{ form_widget(form.norkeskatuak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.dokumentazioatext or eremuak.dokumentazioatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.dokumentazioalabeleu }}</h2>
            </div>
            {% if eremuak.dokumentazioatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.dokumentazioaeu) }}
                {{ form_widget(form.dokumentazioaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.dokumentazioalabeles }}</h2>
            </div>
            {% if eremuak.dokumentazioatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.dokumentazioaes) }}
                {{ form_widget(form.dokumentazioaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.dokumentazioatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(form.dokumentazioak) }}
                {{ form_widget(form.dokumentazioak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.doklaguntext or eremuak.doklaguntable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.doklagunlabeleu }}</h2>
            </div>
            {% if eremuak.doklaguntext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.doklaguneu) }}
                {{ form_widget(form.doklaguneu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.doklagunlabeles }}</h2>
            </div>
            {% if eremuak.doklaguntext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.doklagunes) }}
                {{ form_widget(form.doklagunes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.doklaguntable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(form.doklagunak) }}
                {{ form_widget(form.doklagunak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.kanalatext or eremuak.kanalatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kanalalabeleu }}</h2>
            </div>
            {% if eremuak.kanalatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.kanalaeu) }}
                {{ form_widget(form.kanalaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kanalalabeles }}</h2>
            </div>
            {% if eremuak.kanalatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.kanalaes) }}
                {{ form_widget(form.kanalaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.kanalatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            {{ form_errors(form.kanalak) }}
            {{ form_widget(form.kanalak, {'attr': {'class': 'form-control select2'}}) }}
        </div>
    </div>



    {% if (eremuak.kostuatext or eremuak.kostuatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kostualabeleu }}</h2>
            </div>
            {% if eremuak.kostuatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.kostuaeu) }}
                {{ form_widget(form.kostuaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.kostualabeles }}</h2>
            </div>
            {% if eremuak.kostuatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.kostuaes) }}
                {{ form_widget(form.kostuaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.kostuatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(form.azpiatalak) }}
                {{ form_widget(form.azpiatalak, {'attr': {'class': 'form-group select2'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.ebazpensinpli or eremuak.arduraaitorpena or eremuak.aurreikusi or eremuak.arrunta or eremuak.isiltasunadmin) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.epealabeleu }}</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.epealabeles }}</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% if eremuak.aurreikusi %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {#{{ form_label(form.aurreikusi, 'Aurreikusitako epea / Plazo estimado', { 'label_attr': {'class': 'control-label'} }) }}#}
                <label class="control-label">{{ labelak.aurreikusilabeleu }}/{{ labelak.aurreikusilabeles }}</label>
                {{ form_errors(form.aurreikusi) }}
                {{ form_widget(form.aurreikusi, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if eremuak.arrunta %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.arruntalabeleu }}/{{ labelak.arruntalabeles }}</label>
                {{ form_errors(form.arrunta) }}
                {{ form_widget(form.arrunta, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if eremuak.ebazpensinpli %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.ebazpensinplilabeleu }}</label>
                {{ form_errors(form.ebazpensinpli) }}
                {{ form_widget(form.ebazpensinpli, {'attr': {'class': 'c-checkbox'}}) }}
                <label class="control-label">{{ labelak.ebazpensinplilabeles }}</label>
            </div>
            {% if eremuak.arduraaitorpena %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.arduraaitorpenalabeleu }}</label>
                {{ form_errors(form.arduraaitorpena) }}
                {{ form_widget(form.arduraaitorpena, {'attr': {'class': 'c-checkbox'}}) }}
                <label class="control-label">{{ labelak.arduraaitorpenalabeles }}</label>
            </div>
            {% if eremuak.isiltasunadmin %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                <label class="control-label">{{ labelak.isiltasunadminlabeleu }}/{{ labelak.isiltasunadminlabeles }}</label>
                {{ form_errors(form.isiltasunadmin) }}
                {{ form_widget(form.isiltasunadmin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.araudiatext or eremuak.araudiatable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.araudialabeleu }}</h2>
            </div>
            {% if eremuak.araudiatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.araudiaeu) }}
                {{ form_widget(form.araudiaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.araudialabeles }}</h2>
            </div>
            {% if eremuak.araudiatext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.araudiaes) }}
                {{ form_widget(form.araudiaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.araudiatable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(form.araudiak) }}
                {{ form_widget(form.araudiak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>

    {% if (eremuak.prozeduratext or eremuak.prozeduratable) %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.prozeduralabeleu }}</h2>
            </div>
            {% if eremuak.prozeduratext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.prozeduraeu) }}
                {{ form_widget(form.prozeduraeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.prozeduralabeles }}</h2>
            </div>
            {% if eremuak.prozeduratext %}
            <div>
            {% else %}
            <div class="hidden">
            {% endif %}
                {{ form_errors(form.prozeduraes) }}
                {{ form_widget(form.prozeduraes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if eremuak.prozeduratable %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12 hidden">
        {% endif %}
            <div>
                <br/>
                {{ form_errors(form.prozedurak) }}
                {{ form_widget(form.prozedurak, {'attr': {'class': 'form-group'}}) }}
            </div>
        </div>
    </div>


    {% if (eremuak.norkebatzitext or eremuak.norkebatzitable) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                        <h2>{{ labelak.norkebatzilabeleu }}</h2>
                </div>
                {% if eremuak.norkebatzitext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.norkonartueu) }}
                        {{ form_widget(form.norkonartueu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.norkebatzilabeles }}</h2>
                </div>
                {% if eremuak.norkebatzitext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.norkonartues) }}
                        {{ form_widget(form.norkonartues, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.norkebatzitable %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        {{ form_errors(form.norkebatzi) }}
                        {{ form_widget(form.norkebatzi, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.azpisailalabeleu }}</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h2>{{ labelak.azpisailalabeles }}</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                {{ form_errors(form.azpisaila) }}
                {{ form_widget(form.azpisaila, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if eremuak.oharraktext %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.oharraklabeleu }}</h2>
                </div>
                <div>
                    {{ form_errors(form.oharrakeu) }}
                    {{ form_widget(form.oharrakeu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.oharraklabeles }}</h2>
                </div>
                <div>
                    {{ form_errors(form.oharrakes) }}
                    {{ form_widget(form.oharrakes, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                {#<h2>{{ labelak.eu }}</h2>#}
                <h2>JARRAIBIDEAK (barne erabilera)</h2>
            </div>
        <div>
                    {{ form_errors(form.jarraibideakeu) }}
                    {{ form_widget(form.jarraibideakeu, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                {#<h2>{{ labelak.es }}</h2>#}
                <h2>INSTRUCCIONES (uso interno)</h2>
            </div>
            <div>
                {{ form_errors(form.jarraibideakes) }}
                {{ form_widget(form.jarraibideakes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



    {% if (eremuak.besteak1text or eremuak.besteak1table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak1labeleu }}</h2>
                </div>
                {% if eremuak.besteak1text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak1eu) }}
                        {{ form_widget(form.besteak1eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak1labeles }}</h2>
                </div>
                {% if eremuak.besteak1text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak1es) }}
                        {{ form_widget(form.besteak1es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak1table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <br/>
                    {{ form_errors(form.besteak1ak) }}
                    {{ form_widget(form.besteak1ak, {'attr': {'class': 'form-group select2'}}) }}
                </div>
        </div>



    {% if (eremuak.besteak2text or eremuak.besteak2table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak2labeleu }}</h2>
                </div>
                {% if eremuak.besteak2text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak2eu) }}
                        {{ form_widget(form.besteak2eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak2labeles }}</h2>
                </div>
                {% if eremuak.besteak2text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak2es) }}
                        {{ form_widget(form.besteak2es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak2table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                <div>
                    <br/>
                    {{ form_errors(form.besteak2ak) }}
                    {{ form_widget(form.besteak2ak, {'attr': {'class': 'form-group select2'}}) }}
                </div>
            </div>
        </div>

    {% if (eremuak.besteak3text or eremuak.besteak3table) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak3labeleu }}</h2>
                </div>
                {% if eremuak.besteak3text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak3eu) }}
                        {{ form_widget(form.besteak3eu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.besteak3labeleu }}</h2>
                </div>
                {% if eremuak.besteak3text %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.besteak3es) }}
                        {{ form_widget(form.besteak3es, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.besteak2table %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        <br/>
                        {{ form_errors(form.besteak3ak) }}
                        {{ form_widget(form.besteak3ak, {'attr': {'class': 'form-group select2'}}) }}
                    </div>
                </div>
        </div>
    {% if (eremuak.datuenbabesatext or eremuak.datuenbabesatable) %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.datuenbabesalabeleu }}</h2>
                </div>
                {% if eremuak.datuenbabesatext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.datuenbabesaeu) }}
                        {{ form_widget(form.datuenbabesaeu, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>{{ labelak.datuenbabesalabeles }}</h2>
                </div>
                {% if eremuak.datuenbabesatext %}
                    <div>
                {% else %}
                    <div class="hidden">
                {% endif %}
                        {{ form_errors(form.datuenbabesaes) }}
                        {{ form_widget(form.datuenbabesaes, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            {% if eremuak.datuenbabesatable %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12 hidden">
            {% endif %}
                    <div>
                        {{ form_errors(form.datuenbabesa) }}
                        {{ form_widget(form.datuenbabesa, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
        </div>

    {% if is_granted('ROLE_KUDEAKETA') %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>FAMILIAK</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>FAMILIAS</h2>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    {{ form_errors(form.familiak) }}
                    {{ form_widget(form.familiak, {'attr': {'class': 'form-control select2'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>ETIKETAK</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>ETIQUETAS</h2>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    {{ form_errors(form.etiketak) }}
                    {{ form_widget(form.etiketak, {'attr': {'class': 'form-control select2'}}) }}
                </div>
            </div>
        </div>



    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>ESPEDIENTE KUDEAKETA</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>GESTIÓN DE EXPEDIENTES</h2>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    {{ form_label(form.zerbitzua, 'Zerbitzua', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.zerbitzua) }}
                    {{ form_widget(form.zerbitzua, {'attr': {'class': 'form-control'}}) }}

                    {{ form_label(form.parametroa, 'Parametroa', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.parametroa) }}
                    {{ form_widget(form.parametroa, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>



    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
    {% else %}
        <div class="row hidden">
    {% endif %}
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>ADMIN</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">
                    <h2>ADMIN</h2>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    {{ form_label(form.udala, 'Udala', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.udala) }}
                    {{ form_widget(form.udala, {'attr': {'class': 'form-control'}}) }}

                    {{ form_label(form.kontsultak, 'Kontsulta kopurua:', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.kontsultak) }}
                    {{ form_widget(form.kontsultak, {'attr': {'class': 'form-control'}}) }}

                    {{ form_errors(form.publikoa) }}
                    {{ form_widget(form.publikoa, {'attr': {'class': 'c-checkbox'}}) }}
                    {{ form_label(form.publikoa, 'Publikoa', { 'label_attr': {'class': 'control-label'} }) }}

                    {{ form_errors(form.hitzarmena) }}
                    {{ form_widget(form.hitzarmena, {'attr': {'class': 'c-checkbox'}}) }}
                    {{ form_label(form.hitzarmena, 'Hitzarmenean?', { 'label_attr': {'class': 'control-label'} }) }}

                    <br>
                    {{ form_label(form.createdAt, 'Noiz sortua', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.createdAt) }}
                    {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}

                    {{ form_label(form.updatedAt, 'Azken aldaketa', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_errors(form.updatedAt) }}
                    {{ form_widget(form.updatedAt, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>


        {#<input type="submit" value="Create" class="btn btn-primary"/>#}
        {#{{ form_end(form) }}#}

    {#<div class="fitxaMenua">#}
    {#<ul>#}
        {#<li></li><input type="submit" value="Create" class="btn btn-primary"/></li>#}
    {{ form_end(form) }}
        {#<li><a href="{{ path('fitxa_index') }}" class="btn btn-primary">Zerrendara itzuli</a></li>#}
    {#</ul>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#fitxa_etiketak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_familiak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_kanalak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_doklagunak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak1ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak2ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_besteak3ak').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('#fitxa_azpiatalak').select2({
                theme: 'bootstrap',
                tags: true
            });
//            $('#fitxa_tramiteak').select2({
//                theme: 'bootstrap',
//                tags: true
//            });
            $('#fitxa_dokumentazioak').select2({
                theme: 'bootstrap',
                tags: true
            });


        });
    </script>
{% endblock %}