{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Fitxak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('fitxa_index') }}"  class="fa fa-undo"> Zerrendara itzuli</a></li>
                    <li><a href="{{ path('fitxa_edit', { 'id': fitxa.id }) }}" class="fa fa-pencil"> Aldatu</a></li>
                    <li><a href="{{ path('fitxa_pdf', { 'id': fitxa.id }) }}" target="_blank" class="fa fa-file-pdf-o"> Pdf (Barne erabilera)</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}

    <table class="table table-bordered">
        <tr>
            <td colspan="3" class="text-right">
                {% if fitxa.updatedAt %}Azken eguneraketa: {{ fitxa.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
            </td>
        </tr>
        <tr><th class="col-md-2 text-center">
            <img src='{{ fitxa.udala.logoa }}' />
            <h4>{{ fitxa.udala.izendapenaeu }}</h4>
            <h5>{{ fitxa.udala.ifk }}</h5>
        </th>
        <th class="col-md-1"><h1>{{ fitxa.espedientekodea }}</h1></th>
        <th class="col-md-9">
            <h2>{{ fitxa.deskribapenaeu }}</h2>
            <h3>{{ fitxa.deskribapenaes }}</h3>
        </th>
        </tr>
    </table>

    {% if eremuak.helburuatext %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.helburualabeleu }}</h3>
            </div>
            <div style="text-align: justify">
                {{fitxa.helburuaeu|raw }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.helburualabeles }}</h3>
            </div>
            <div>
                {{fitxa.helburuaes|raw }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.norkeskatutext or eremuak.norkeskatutable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.norkeskatulabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.norkeskatutext %} {{ fitxa.norkeu |raw }} {% endif %}
                {% if eremuak.norkeskatutable %}
                <ul>
                    {% for nork in fitxa.norkeskatuak %}
                        <li>{{ nork.norkeu }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.norkeskatulabeles }}</h3>
            </div>
            <div>
                {% if eremuak.norkeskatutext %}{{ fitxa.norkes |raw}}{% endif %}
                {% if eremuak.norkeskatutable %}
                <ul>
                    {% for nork in fitxa.norkeskatuak %}
                        <li>{{ nork.norkes }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.dokumentazioatext or eremuak.dokumentazioatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.dokumentazioalabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.dokumentazioatable %}
                <ul>
                    {% for dokumentua in fitxa.dokumentazioak %}
                        <li>
                            {% if dokumentua.estekaeu %}
                                <a href="{{ dokumentua.estekaeu }}">
                                    {{ dokumentua.kodea }}-{{ dokumentua.deskribapenaeu }}
                                </a>
                            {% else %}
                                {{ dokumentua.kodea }}-{{ dokumentua.deskribapenaeu }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if eremuak.dokumentazioatext %}{{ fitxa.dokumentazioaeu|raw }}{% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.dokumentazioalabeles }}</h3>
            </div>
            <div>
                {% if eremuak.dokumentazioatable %}
                <ul>
                    {% for dokumentua in fitxa.dokumentazioak %}
                        <li>
                            {% if dokumentua.estekaes %}
                                <a href="{{ dokumentua.estekaes }}">
                                    {{ dokumentua.kodea }}-{{ dokumentua.deskribapenaes }}
                                </a>
                            {% else %}
                                {{ dokumentua.kodea }}-{{ dokumentua.deskribapenaes }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if eremuak.dokumentazioatext %}{{ fitxa.dokumentazioaes|raw }}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.doklaguntext or eremuak.doklaguntable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.doklagunlabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.doklaguntext %}{{ fitxa.doklaguneu |raw}}{% endif %}
                {% if eremuak.doklaguntable %}
                <ul>
                    {% for doklagun in fitxa.doklagunak %}
                        <li>
                            {% if doklagun.estekaeu %}
                                <a href="{{ doklagun.estekaeu }}">
                                    {{ doklagun.kodea }}-{{ doklagun.deskribapenaeu }}
                                </a>
                            {% else %}
                                {{ doklagun.kodea }}-{{ doklagun.deskribapenaeu }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.doklagunlabeles }}</h3>
            </div>
            <div>
                {% if eremuak.doklaguntext %}{{ fitxa.doklagunes |raw}}{% endif %}
                {% if eremuak.doklaguntable %}
                <ul>
                    {% for doklagun in fitxa.doklagunak %}
                        <li>
                            {% if doklagun.estekaes %}
                                <a href="{{ doklagun.estekaes }}">
                                    {{ doklagun.kodea }}-{{ doklagun.deskribapenaes }}
                                </a>
                            {% else %}
                                {{ doklagun.kodea }}-{{ doklagun.deskribapenaes }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}


    {% if (eremuak.kanalatext or eremuak.kanalatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.kanalalabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.kanalatable %}
                {% for k in kanalmotak %}
                    {% set aurkitua=0 %}
                    <ul>
                    {% for kanal in fitxa.kanalak if kanal.kanalmota == k %}
                        {% if aurkitua==0%}
                            <b>{{ k.motaeu }}:</b>
                            {% set aurkitua=1 %}
                        {% endif %}
                        {% if kanal.telematikoa %}
                            {% if fitxa.zerbitzua %}
                                <li><a href="{{ fitxa.zerbitzua.erroaeu}}{{fitxa.udala.kodea}}{{ fitxa.parametroa }}" >
                                        {{ kanal.izenaeu }}
                                    </a></li>
                            {% endif %}
                        {% else %}
                            {% if k.esteka %}
                                <li><a href='{{ kanal.estekaeu }}' target="_blank">{{ kanal.izenaeu }}</a></li>
                            {% else %}
                                <li>{{ kanal.izenaeu }}</li>
                            {% endif %}
                        {% endif %}


                    {% endfor %}
                    </ul>
                {% endfor %}
                {% endif %}
                {% if eremuak.kanalatext %}{{ fitxa.kanalaeu |raw}}{% endif %}
            </div>

        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.kanalalabeles }}</h3>
            </div>
            <div>
                {% if eremuak.kanalatable %}
                {% for k in kanalmotak %}
                    {% set aurkitua=0 %}
                    <ul>
                        {% for kanal in fitxa.kanalak if kanal.kanalmota == k %}
                            {% if aurkitua==0%}
                                <b>{{ k.motaes }}:</b>
                                {% set aurkitua=1 %}
                            {% endif %}
                            {% if kanal.telematikoa %}
                                {% if fitxa.zerbitzua %}
                                        <li><a href="{{ fitxa.zerbitzua.erroaes}}{{fitxa.udala.kodea}}{{ fitxa.parametroa }}" >
                                            {{ kanal.izenaes }}
                                        </a></li>
                                {% endif %}
                            {% else %}
                                {% if k.esteka %}
                                    <li><a href='{{ kanal.estekaes }}' target="_blank">{{ kanal.izenaes }}</a></li>
                                {% else %}
                                    <li>{{ kanal.izenaes }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
                {% endif %}
                {% if eremuak.kanalatext %}{{ fitxa.kanalaes |raw}}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.kostuatext or eremuak.kostuatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.kostualabeleu }}</h3>
            </div>
            <div>
                {% set kont=0 %}
                {% if eremuak.kostuatable %}
                    {% if fitxa.udala.zergaor %}
                        {#{% for kostutaula in fitxa.kostuak %}#}
                        {% for kostutaula in kostuZerrenda %}
                            <table  class="table table-bordered">
                                <tr>
                                    <th colspan="2" class="text-center">
                                        {{ kostutaula['kodea'] }} - {{ kostutaula['izenburuaeu'] }}
                                    </th>
                                </tr>
                                        {% for parrafo in kostutaula['parrafoak'] %}
                                            <tr>
                                                <td colspan="2">
                                                {{ parrafo['testuaeu']| raw }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for kontzeptu in kostutaula['kontzeptuak'] %}
                                            <tr>
                                                <td>{{ kontzeptu['kontzeptuaeu'] }}</td>
                                                <td NOWRAP>
                                                    {{ kontzeptu['kopurua'] }} {{ kontzeptu['unitatea'] }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                            </table>
                        {% endfor %}
                    {% else %}
                        {% for azpiatal in fitxa.azpiatalak %}
                            <table  class="table table-bordered">
                                <tr>
                                    <th colspan=2>
                                        <a href='http://zergaordenantzak/kudeaketa.php/atala/show/id/{{ azpiatal.id }}' target="_blank">
                                            {{ azpiatal.kodea }}-{{  azpiatal.izenburuaeu }}
                                        </a>
                                    </th>
                                </tr>
                                {% for parrafo in azpiatal.parrafoak %}
                                    <tr>
                                        <td colspan="2">{{ parrafo.testua }} </td>
                                    </tr>
                                {% endfor %}

                                {% for kontzeptu in azpiatal.kontzeptuak %}
                                    <tr>
                                        <td>{{ kontzeptu.kontzeptuaeu }}
                                            {% if kontzeptu.baldintza %}
                                                ({{ kontzeptu.baldintza.baldintzaeu }})
                                            {% endif %}
                                        </td>
                                        <td>{{ kontzeptu.kopurua }} {{ kontzeptu.unitatea }}</td>

                                    </tr>
                                {% endfor %}
                            </table>
                            {% set kont=kont+1 %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if eremuak.kostuatext %}{{ fitxa.kostuaeu |raw}}{% endif %}
                {% if (fitxa.kostuaeu is empty and kont==0) %}
                    {{ labelak.doanlabeleu }}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.kostualabeles }}</h3>
            </div>
            <div>
                {% set kont=0 %}
                {% if eremuak.kostuatable %}
                    {% if fitxa.udala.zergaor %}
                        {% for kostutaula in kostuZerrenda %}
                            <table  class="table table-bordered">
                                <tr>
                                    <th colspan="2" class="text-center">
                                        {{ kostutaula['kodea'] }} - {{ kostutaula['izenburuaes'] }}
                                    </th>
                                </tr>
                                {% for parrafo in kostutaula['parrafoak'] %}
                                    <tr>
                                        <td colspan="2">
                                            {{ parrafo['testuaes']| raw }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for kontzeptu in kostutaula['kontzeptuak'] %}
                                    <tr>
                                        <td>{{ kontzeptu['kontzeptuaes'] }}</td>
                                        <td NOWRAP>
                                            {{ kontzeptu['kopurua'] }} {{ kontzeptu['unitatea'] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% else %}
                        {% for azpiatal in fitxa.azpiatalak %}
                            <table  class="table table-bordered">
                                <tr>
                                    <th colspan=2>
                                        <a href='http://zergaordenantzak/kudeaketa.php/atala/show/id/{{ azpiatal.id }}' target="_blank">
                                            {{ azpiatal.kodea }}-{{  azpiatal.izenburuaes }}
                                        </a>
                                    </th>
                                </tr>
                                {% for parrafo in azpiatal.parrafoak %}
                                    <tr>
                                        <td colspan="2">{{ parrafo.testuaes }} </td>
                                    </tr>
                                {% endfor %}
                                {% for kontzeptu in azpiatal.kontzeptuak %}
                                    <tr>
                                        <td>{{ kontzeptu.kontzeptuaes }}
                                            {% if kontzeptu.baldintza %}
                                                ({{ kontzeptu.baldintza.baldintzaes }})
                                            {% endif %}
                                        </td>
                                        <td>{{ kontzeptu.kopurua }} {{ kontzeptu.unitatea }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% set kont=kont+1 %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if eremuak.kostuatext %}
                    {{ fitxa.kostuaes |raw}}
                {% endif %}
                {% if (fitxa.kostuaes is empty and kont==0) %}
                    {{ labelak.doanlabeles }}
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.ebazpensinpli or eremuak.arduraaitorpena or eremuak.aurreikusi or eremuak.arrunta or eremuak.isiltasunadmin) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.epealabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.aurreikusi %}
                    {% if fitxa.aurreikusi %}{{ labelak.aurreikusilabeleu }}: {{ fitxa.aurreikusi }}{% endif %}<br>
                {% endif %}
                {% if eremuak.arrunta %}
                    {% if fitxa.arrunta %}{{ labelak.arruntalabeleu }}: {{ fitxa.arrunta }}{% endif %}<br>
                {% endif %}
                {% if eremuak.ebazpensinpli %}
                    {% if fitxa.ebazpensinpli %}{{ labelak.ebazpensinplilabeleu }} <br>{% endif %}
                {% endif %}
                {% if eremuak.arduraaitorpena %}
                    {% if fitxa.arduraaitorpena %}{{ labelak.arduraaitorpenalabeleu }}<br>{% endif %}
                {% endif %}
                {% if eremuak.isiltasunadmin %}
                    {% if fitxa.isiltasunadmin %}{{ labelak.isiltasunadminlabeleu }}: {{ fitxa.isiltasunadmin }}{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.epealabeles }}</h3>
            </div>
            <div>
                {% if eremuak.aurreikusi %}
                    {% if fitxa.aurreikusi %}{{ labelak.aurreikusilabeles }}: {{ fitxa.aurreikusi }}<br>{% endif %}
                {% endif %}
                {% if eremuak.arrunta %}
                    {% if fitxa.arrunta %}{{ labelak.arruntalabeles }}: {{ fitxa.arrunta }}<br>{% endif %}
                {% endif %}
                {% if eremuak.ebazpensinpli %}
                    {% if fitxa.ebazpensinpli %}{{ labelak.ebazpensinplilabeles }}<br>{% endif %}
                {% endif %}
                {% if eremuak.arduraaitorpena %}
                    {% if fitxa.arduraaitorpena %}{{ labelak.arduraaitorpenalabeles }} <br>{% endif %}
                {% endif %}
                {% if eremuak.isiltasunadmin %}
                    {% if fitxa.isiltasunadmin %}{{ labelak.isiltasunadminlabeles }}: {{ fitxa.isiltasunadmin.isiltasunes }}{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.araudiatext or eremuak.araudiatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.araudialabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.araudiatext %}{{ fitxa.araudiaeu |raw}}{% endif %}
                <br>
                {% if eremuak.araudiatable %}
                <ul>
                    {% for araua in fitxa.araudiak %}
                        {#<li><a href="{{ araua.araudia.estekaeu }}">{{ araua.araudia.arauaeu }}</a> {{ araua.atalaeu }}</li>#}
                        <li>
                        {% if araua.araudia.estekaeu %}
                            <a href="{{ araua.araudia.estekaeu }}">
                                {{ araua.araudia.arauaeu }} </a>
                            {#{{ araua.atalaeu }}#}
                        {% else %}
                            {{ araua.araudia.arauaeu }}
                            {#- {{ araua.atalaeu }}#}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.araudialabeles }}</h3>
            </div>
            <div>
                {% if eremuak.araudiatext %}{{ fitxa.araudiaes |raw}}{% endif %}
                <br>
                {% if eremuak.araudiatable %}
                <ul>
                    {% for araua in fitxa.araudiak %}
                        {#<li><a href="{{ araua.araudia.estekaes }}">{{ araua.araudia.arauaes }}</a> {{ araua.atalaes }}</li>#}
                        <li>
                            {% if araua.araudia.estekaes %}
                                <a href="{{ araua.araudia.estekaes }}">
                                    {{ araua.araudia.arauaes }}</a>
                                {#{{ araua.atalaes }}#}
                            {% else %}
                                {{ araua.araudia.arauaes }}
                                {#- {{ araua.atalaes }}#}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.prozeduratext or eremuak.prozeduratable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.prozeduralabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.prozeduratext %}{{ fitxa.prozeduraeu |raw}}{% endif %}
                {% if eremuak.prozeduratable %}
                <ul>
                    {% for prozedura in fitxa.prozedurak %}
                        {#<li>{{ prozedura.prozedura.prozeduraeu }}</li>#}
                        <li>{{ prozedura.prozedura.prozeduraeu }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.prozeduralabeles }}</h3>
            </div>
            <div>
                {% if eremuak.prozeduratext %}{{ fitxa.prozeduraes |raw}}{% endif %}
                {% if eremuak.prozeduratable %}
                <ul>
                    {% for prozedura in fitxa.prozedurak %}
                        {#<li>{{ prozedura.prozedura.prozeduraes }}</li>#}
                        <li>{{ prozedura.prozedura.prozeduraes }}</li>
                    {% endfor %}
                </ul>
                {%  endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.norkebatzitext or eremuak.norkebatzitable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.norkebatzilabeleu }}</h3>
            </div>
            <div>
                {% if (eremuak.norkebatzitable and fitxa.norkebatzi) %}{{ fitxa.norkebatzi.norkeu }}{% endif %}

                {% if eremuak.norkebatzitext %}{{ fitxa.norkonartueu|raw }}{% endif %}

            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.norkebatzilabeles }}</h3>
            </div>
            <div>
                {% if eremuak.norkebatzitable and fitxa.norkebatzi %}{{ fitxa.norkebatzi.norkes }}{% endif %}
                {% if eremuak.norkebatzitext %}{{ fitxa.norkonartues|raw }}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.azpisailatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.azpisailalabeleu }}</h3>
            </div>
            <div>
                {% if fitxa.azpisaila %}
                    {{ fitxa.azpisaila.saila.sailaeu }} - {{ fitxa.azpisaila.azpisailaeu }}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.azpisailalabeles }}</h3>
            </div>
            <div>
                {% if fitxa.azpisaila %}
                    {{ fitxa.azpisaila.saila.sailaes }} - {{ fitxa.azpisaila.azpisailaes }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if eremuak.oharraktext %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.oharraklabeleu }}</h3>
            </div>
            <div>
                {{ fitxa.oharrakeu |raw}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.oharraklabeles }}</h3>
            </div>
            <div>
                {{ fitxa.oharrakes |raw}}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                {#<h3>{{ labelak.oharraklabeleu }}</h3>#}
                <h3>JARRAIBIDEAK (barne erabilera)</h3>
            </div>
            <div>
                {{ fitxa.jarraibideakeu |raw}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                {#<h3>{{ labelak.oharraklabeles }}</h3>#}
                <h3>INSTRUCCIONES (uso interno)</h3>
            </div>
            <div>
                {{ fitxa.jarraibideakes |raw}}
            </div>
        </div>
    </div>



    {% if (eremuak.besteak1text or eremuak.besteak1table) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak1labeleu }}</h3>
            </div>
            <div>
                {% if eremuak.besteak1text %}{{ fitxa.besteak1eu |raw}}{% endif %}
                {% if eremuak.besteak1table %}
                <ul>
                {% for besteak1 in fitxa.besteak1ak %}
                    <li>
                    {% if besteak1.estekaeu %}
                        <a href="{{ besteak1.estekaeu }}">{{ besteak1.izenburuaeu }}</a> </li>
                    {% else %}
                        {{ besteak1.izenburuaeu }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak1labeles }}</h3>
            </div>
            <div>
                {% if eremuak.besteak1text %} {{ fitxa.besteak1es |raw}}{% endif %}
                {% if eremuak.besteak1table %}
                <ul>
                    {% for besteak1 in fitxa.besteak1ak %}
                        <li>
                        {% if besteak1.estekaes %}
                            <a href="{{ besteak1.estekaes }}">{{ besteak1.izenburuaes }}</a> </li>
                        {% else %}
                            {{ besteak1.izenburuaes }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.besteak2text or eremuak.besteak2table) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak2labeleu }}</h3>
            </div>
            <div>
                {% if eremuak.besteak2text  %}{{ fitxa.besteak2eu |raw}} {% endif %}
                {% if eremuak.besteak2table %}
                <ul>
                    {% for besteak2 in fitxa.besteak2ak %}
                        <li>
                        {% if besteak2.estekaeu %}
                            <a href="{{ besteak2.estekaeu }}">{{ besteak2.izenburuaeu }}</a> </li>
                        {% else %}
                            {{ besteak2.izenburuaeu }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak2labeles }}</h3>
            </div>
            <div>
                {% if eremuak.besteak2text %} {{ fitxa.besteak2es |raw}} {% endif %}
                {% if eremuak.besteak2table %}
                <ul>
                    {% for besteak2 in fitxa.besteak2ak %}
                        <li>
                        {% if besteak2.estekaes %}
                            <a href="{{ besteak2.estekaes }}">{{ besteak2.izenburuaes }}</a> </li>
                        {% else %}
                            {{ besteak2.izenburuaes }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.besteak3text or eremuak.besteak3table) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak3labeleu }}</h3>
            </div>
            <div>
                {% if eremuak.besteak3text %}{{ fitxa.besteak3eu |raw}}{% endif %}
                {% if eremuak.besteak3table %}
                <ul>
                    {% for besteak3 in fitxa.besteak3ak %}
                        <li>
                        {% if besteak3.estekaeu %}
                            <a href="{{ besteak3.estekaeu }}">{{ besteak3.izenburuaeu }}</a> </li>
                        {% else %}
                            {{ besteak3.izenburuaeu }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.besteak3labeles }}</h3>
            </div>
            <div>
                {% if eremuak.besteak3text %} {{ fitxa.besteak3es |raw}} {% endif %}
                {% if eremuak.besteak3table %}
                <ul>
                    {% for besteak3 in fitxa.besteak3ak %}
                        <li>
                        {% if besteak3.estekaes %}
                            <a href="{{ besteak3.estekaes }}">{{ besteak3.izenburuaes }}</a> </li>
                        {% else %}
                            {{ besteak3.izenburuaes }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (eremuak.datuenbabesatext or eremuak.datuenbabesatable) %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.datuenbabesalabeleu }}</h3>
            </div>
            <div>
                {% if eremuak.datuenbabesatable and fitxa.datuenbabesa %}
                {{ fitxa.udala.lopdeu|replace({ ('$$$fitxa.datuenbabesa.izenaeu$$$'): fitxa.datuenbabesa.izenaeu })
                |replace({ ('$$$fitxa.datuenbabesa.kodea$$$'): fitxa.datuenbabesa.kodea })
                |replace({ ('$$$fitxa.datuenbabesa.xedeaeu$$$'): fitxa.datuenbabesa.xedeaeu })
                |replace({ ('$$$fitxa.datuenbabesa.lagapenakeu$$$'): fitxa.datuenbabesa.lagapenakeu })
                |raw}}
                {% endif %}
                {% if eremuak.datuenbabesatext %}{{ fitxa.datuenbabesaeu |raw}}{% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h3>{{ labelak.datuenbabesalabeles }}</h3>
            </div>
            <div>
                {% if eremuak.datuenbabesatable and fitxa.datuenbabesa %}
                {{ fitxa.udala.lopdes|replace({ ('$$$fitxa.datuenbabesa.izenaes$$$'): fitxa.datuenbabesa.izenaes })
                |replace({ ('$$$fitxa.datuenbabesa.kodea$$$'): fitxa.datuenbabesa.kodea })
                |replace({ ('$$$fitxa.datuenbabesa.xedeaes$$$'): fitxa.datuenbabesa.xedeaes })
                |replace({ ('$$$fitxa.datuenbabesa.lagapenakes$$$'): fitxa.datuenbabesa.lagapenakes })
                |raw}}
                {% endif %}
                {% if eremuak.datuenbabesatext %}{{ fitxa.datuenbabesaeu |raw}}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
