{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Kostu Taulak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('azpiatala_new') }}">Kostu-taula berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Izenburuaeu</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for azpiatala in azpiatalas %}
            <tr>
                {#<td><a href="{{ path('azpiatala_show', { 'id': azpiatala.id }) }}">{{ azpiatala.kodea }}</a></td>#}
                <td><a href="{{ path('azpiatala_show', { 'id': azpiatala.id }) }}">
                        {{ azpiatala.atala.ordenantza.kodea }}.{{ azpiatala.atala.kodea }}.{{ azpiatala.kodea }}

                    </a></td>
                <td>{{ azpiatala.izenburuaeu }}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('azpiatala_show', { 'id': azpiatala.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('azpiatala_edit', { 'id': azpiatala.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
