{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.kostutaulak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('azpiatala_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'|trans }}</a></li>
                    <li><a href="{{ path('azpiatala_edit', { 'id': azpiatala.id }) }}" class="fa fa-pencil"> {{ 'messages.aldatu'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-10">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th colspan="6">{{ azpiatala.kodea }}.{{ azpiatala.izenburuaeu }}</th>
                <th colspan="6">{{ azpiatala.kodea }}.{{ azpiatala.izenburuaes }}</th>
            </tr>
            {% for parrafoa in azpiatala.parrafoak %}
                <tr>
                    <td colspan="6">{{ parrafoa.testuaeu|raw }}</td>
                    <td colspan="6">{{ parrafoa.testuaes|raw }}</td>
                </tr>
            {% endfor %}

            {% for kontzeptua in azpiatala.kontzeptuak %}
            <tr>
                <td colspan="5">
                    {{ kontzeptua.kontzeptuaeu }}
                    {% if kontzeptua.baldintza %}({{ kontzeptua.baldintza.baldintzaeu }}){% endif %}
                </td>
                <td colspan="2">{{ kontzeptua.kopurua }}{{ kontzeptua.unitatea }}</td>
                <td colspan="5">
                    {{ kontzeptua.kontzeptuaes }}
                    {% if kontzeptua.baldintza %}({{ kontzeptua.baldintza.baldintzaes }}){% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
