{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nork eska dezake</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.norkeu, 'Nork ebatzi (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.norkeu) }}
                {{ form_widget(edit_form.norkeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.norkes, 'Nork ebatzi (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.norkes) }}
                {{ form_widget(edit_form.norkes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

<div class="row hidden">
    <div class="col-sm-6">
        <div>
            {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.udala) }}
            {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="fitxaMenua">
    <ul>
        <input type="submit" value="Gorde" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('norkeskatu_index') }}" class="btn btn-primary">Zerrendara iztuli</a>
        </li>
    </ul>
</div>
{% endblock %}
