{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.familiak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'|trans }}</a></li>
                    <li><a href="{{ path('familia_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.familia'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.familiaeu, 'Familia (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.familiaeu) }}
                {{ form_widget(edit_form.familiaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.familia'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.familiaes, 'Familia (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.familiaes) }}
                {{ form_widget(edit_form.familiaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.deskribapena'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.deskribapenaeu, 'Deskribapena (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.deskribapenaeu) }}
                {{ form_widget(edit_form.deskribapenaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.deskribapena'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.deskribapenaes, 'Deskribapena (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.deskribapenaes) }}
                {{ form_widget(edit_form.deskribapenaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_label(edit_form.parent, 'Familia Gurasoa: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.parent) }}
            {{ form_widget(edit_form.parent, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(edit_form.ordena, 'Ordena: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.ordena) }}
            {{ form_widget(edit_form.ordena, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>


    {% if azpifamiliak is not empty %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Azpifamiliak</h3>
                <table class="table table-bordered table-responsive table-condensed table-hover">
                    <th>Familia (Eus)</th>
                    <th>Familia (Esp)</th>
                    <th>Ordena *</th>
                    <th></th>
                    {% for a in azpifamiliak %}
                        <tr>
                            <td>{{ a.familiaeu }}</td>
                            <td>{{ a.familiaes }}</td>
                            <td>{{ a.ordena }}</td>
                            <td>
                                <a href="{{ path('familia_edit', {id: a.id}) }}"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a class="btnEzabatuAzpifamilia" data-id="{{ a.id }}" href="javascript:void(0);"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-sm-2"></div>
            <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p>* Azpifamiliaren ordena izango da Familia Gurasoaren barruan</p>
            </div>
            <div class="col-sm-4"></div>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
    {% else %}
    <div class="row hidden">
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'|trans }}</b>
                {#{{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

    <div id="ezkutuan" style="display:none;">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {

            $('.btnEzabatuAzpifamilia').on('click', function () {
                var that = $(this);
                bootbox.confirm({
                    title: "Ziur zaude familia ezabatu nahi duzula fitxatik?",
                    message: "Fitxatik ezabatuko da familiaren informazioa baina ez Familia bera.",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Ezeztatu'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Onartu'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            var miid = $(that).data('id');
                            console.log("miid =>" + miid);
                            var url = Routing.generate('familia_delete', {_locale: 'eu', id: miid});
                            console.log("familia delete url => " + url);

                            $.ajax({
                                url: url,
                                type: 'delete',
                                success: function (result) {
                                    console.log('Delete');
                                    $(that).closest("tr").remove();
                                },
                                error: function (e) {
                                    console.log(e.responseText);
                                }
                            });

                        }
                    }
                });
            });



            var customSorter = function(data) {

                return data.sort(function(a,b){
                    a = a.text.toLowerCase();
                    b = b.text.toLowerCase();
                    if(a > b) {
                        return 1;
                    } else if (a < b) {
                        return -1;
                    }
                    return 0;
                });

            };

            $('#familia_parent').select2({
                theme: 'bootstrap',
                tags: true,
                sorter: customSorter
            });
        });
    </script>

{% endblock %}