{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Tramiteak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('tramitea_new') }}" class="fa fa-plus"> Tramite berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Tramitea</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tramitea in tramiteas %}
            <tr>
                <td>{{ tramitea.tramiteaeu }}</td>
                 <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('tramitea_edit', { 'id': tramitea.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[tramitea.id],{'attr': {'id': tramitea.id}}) }}
                                <a href="#" onclick="document.getElementById({{ tramitea.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[tramitea.id]) }}</li>
                        {% endif %}
                    </ul>
                 </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
