{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ app.user.udala.eremuak.besteak2labeleu }} zerrenda</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Izenburuaeu</th>
                {#<th>Izenburuaes</th>#}
                {#<th>Id</th>#}
                {#<th>Estekaeu</th>#}
                {#<th>Estekaes</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for besteak2 in besteak2s %}
            <tr>
                <td><a href="{{ path('besteak2_edit', { 'id': besteak2.id }) }}">{{ besteak2.kodea }}</a></td>
                <td><a href="{{ path('besteak2_edit', { 'id': besteak2.id }) }}">{{ besteak2.izenburuaeu }}</a></td>
                {#<td>{{ besteak2.izenburuaes }}</td>#}
                {#<td>{{ besteak2.id }}</td>#}
                {#<td>{{ besteak2.estekaeu }}</td>#}
                {#<td>{{ besteak2.estekaes }}</td>#}
                {#<td>{{ besteak2.kodea }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('besteak2_show', { 'id': besteak2.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('besteak2_edit', { 'id': besteak2.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="fitxaMenua">
    <ul>
        <li>
            <a href="{{ path('besteak2_new') }}" class="btn btn-primary">Sarrera berria</a>
        </li>
    </ul>
</div>
{% endblock %}
