{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Atalak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('atala_new') }}" class="fa fa-plus"> Atal berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Izenburua</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for atala in atalas %}
            <tr>
                <td>{% if atala.ordenantza %}{{ atala.ordenantza.kodea }}.{% endif %}{{ atala.kodea }}</td>
                <td>{{ atala.izenburuaeu }}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('atala_edit', { 'id': atala.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[atala.id],{'attr': {'id': atala.id}}) }}
                                <a href="#" onclick="document.getElementById({{ atala.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[atala.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if atalas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'atala_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>Ez da emaitzarik topatu</p>
        {% endif %}
    </div>
{% endblock %}
