<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}ZERBItzuen KATalogoa{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/backend/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/backend/css/zerbikat.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/backend/css/select2-bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/datatables.min.css') }}"
              rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/jquery.dataTables.min.css') }}"
              rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/buttons.dataTables.min.css') }}"
              rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="bundles/backend/js/html5shiv.min.js"></script>
    <script src="bundles/backend/js/respond.min.js"></script>

    <![endif]-->

    <style>
        .affix {
            top: 2;
            width: 100%;
            /*-webkit-transition: all .5s ease-in-out;*/
            /*transition: all .5s ease-in-out;*/
            /*background-color: #F44336;*/
            /*border-color: #F44336;*/
            z-index: 1010;
        }

        /*.affix :hover*/
        /*{*/
        /*padding: 15px !important;*/
        /*}*/
        .affix a {
            /*color: #777777 !important;*/
            /*padding: 15px !important;*/
            color: #777777;
            padding: 15px;
            /*-webkit-transition: all .5s ease-in-out;*/
            /*transition: all .5s ease-in-out;*/
        }

        .affix a:hover {
            /*color: #000 !important;*/
            color: #000;
        }

        .affix-top a {
            /*padding: 25px !important;*/
        }

        /*.affix + .container-fluid {*/
        /*/*padding-top: 5px;*/
        *

        /
        /*}*/
    </style>
</head>
<body role="document">

{% block menua %}
    {#{% if is_granted('ROLE_KUDEAKETA') %}#}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        {#<nav class="navbar navbar-inverse">#}
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"> ZERBItzuen KATalagoa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if is_granted('ROLE_KUDEAKETA') %}
                    <ul class="nav navbar-nav">
                        {#Admin#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "messages.menu.admin" | trans }}<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="menuaAdmin">
                                    <li><a href="{{ path('udala_index') }}">{{ 'messages.udala'|trans }}</a></li>
                                    <li><a href="{{ path('users_index') }}">{{ 'messages.erabiltzaileak'|trans }}</a>
                                    </li>
                                    <li><a href="{{ path('eremuak_index') }}">{{ 'messages.eremuak'|trans }}</a></li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li>
                                            <a href="{{ path('espedientekudeaketa_index') }}">{{ 'messages.espedientekudeaketa'|trans }}</a>
                                        </li>
                                        <li><a href="{{ path('zerbitzua_index') }}">{{ 'messages.zerbitzua'|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {#Taula Laguntzaileak#}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'messages.taulalagun'|trans }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="menua">
                                <li class="dropdown-header">{{ 'messages.taulalagun'|trans }}</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('arrunta_index') }}">{{ 'messages.arruntak'|trans }}</a></li>
                                <li><a href="{{ path('aurreikusi_index') }}">{{ 'messages.aurreikusi'|trans }}</a></li>
                                <li><a href="{{ path('isiltasunadministratiboa_index') }}">{{ 'messages.isiltasunadmin'|trans }}</a></li>
                                <li><a href="{{ path('araumota_index') }}">{{ 'messages.araumotak'|trans }}</a></li>
                                <li><a href="{{ path('dokumentumota_index') }}">{{ 'messages.dokumentumotak'|trans }}</a></li>
                                <li><a href="{{ path('kanalmota_index') }}">{{ 'messages.kanalmotak'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">{{ 'messages.kaleizendegia'|trans }}</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('barrutia_index') }}">{{ 'messages.barrutiak'|trans }}</a></li>
                                <li><a href="{{ path('kalea_index') }}">{{ 'messages.kaleak'|trans }}</a></li>
                                <li><a href="{{ path('eraikina_index') }}">{{ 'messages.eraikinak'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">{{ 'messages.zergaordenantzak'|trans }}</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('azpiatala_index') }}">{{ 'messages.kostutaulak'|trans }}</a></li>
                                <li><a href="{{ path('baldintza_index') }}">{{ 'messages.baldintzak'|trans }}</a></li>
                                <li><a href="{{ path('kontzeptumota_index') }}">{{ 'messages.kontzeptumotak'|trans }}</a></li>
                            </ul>
                        </li>
                        {#Taula Nagusiak#}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'messages.taulanagusiak'|trans }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="menuaNagusiak">
                                <li><a href="{{ path('norkeskatu_index') }}">{{ 'messages.norkeskatu'|trans }}</a></li>
                                <li><a href="{{ path('dokumentazioa_index') }}">{{ 'messages.agiriak'|trans }}</a></li>
                                <li><a href="{{ path('kanala_index') }}">{{ 'messages.kanalak'|trans }}</a></li>
                                <li><a href="{{ path('araudia_index') }}">{{ 'messages.araudia'|trans }}</a></li>
                                <li><a href="{{ path('prozedura_index') }}">{{ 'messages.prozedurak'|trans }}</a></li>
                                <li><a href="{{ path('norkebatzi_index') }}">{{ 'messages.ebazleak'|trans }}</a></li>
                                <li><a href="{{ path('saila_index') }}">{{ 'messages.sailak'|trans }}</a></li>
                                <li><a href="{{ path('azpisaila_index') }}">{{ 'messages.azpisailak'|trans }}</a></li>
                                <li><a href="{{ path('doklagun_index') }}">{{ 'messages.doklagun'|trans }}</a></li>
                                <li><a href="{{ path('besteak1_index') }}">{{ 'messages.besteak1'|trans }}</a></li>
                                <li><a href="{{ path('besteak2_index') }}">{{ 'messages.besteak2'|trans }}</a></li>
                                <li><a href="{{ path('besteak3_index') }}">{{ 'messages.besteak3'|trans }}</a></li>
                                <li><a href="{{ path('datuenbabesa_index') }}">{{ 'messages.datuenbabesa'|trans }}</a></li>
                            </ul>
                        </li>
                        {#Sailkapena#}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'messages.sailkapena'|trans }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="menuaSailkapena">
                                <li><a href="{{ path('etiketa_index') }}">{{ 'messages.etiketak'|trans }}</a></li>
                                <li><a href="{{ path('familia_index') }}">{{ 'messages.familiak'|trans }}</a></li>
                            </ul>
                        </li>
                        {#fitxak#}
                        <li><a href="{{ path('fitxa_index') }}">{{ 'messages.fitxak'|trans }}</a></li>

                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% block ekintzak %}
                        <li class="list-inline"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">ES</a></li>
                        <li class="list-inline"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'eu'})) }}">EU</a></li>
                    {% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


{% endblock %}

<div class="container theme-showcase" role="main">
    {% block body %}

    {% endblock %}
</div>
</body>
</html>