{% extends 'base.html.twig' %}

{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Eraikinak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('eraikina_new') }}" class="fa fa-plus"> Eraikin berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Izena</th>
                <th>Koordenadak</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for eraikina in eraikinas %}
            <tr>
                <td>{{ eraikina.izena }}</td>
                <td>({{ eraikina.longitudea }}, {{ eraikina.latitudea }})</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('eraikina_edit', { 'id': eraikina.id }) }}" class="fa fa-pencil"></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>{{ form_start(deleteforms[eraikina.id],{'attr': {'id': eraikina.id}}) }}
                            <a href="#" onclick="document.getElementById({{ eraikina.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                            {{ form_end(deleteforms[eraikina.id]) }}</li>
                    {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
