{% extends 'base.html.twig' %}

{% block menua %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"></a>
                <ul class="nav navbar-nav">
                    <li class="list-inline"><a
                                href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">ES</a>
                    </li>
                    <li class="list-inline"><a
                                href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'eu'})) }}">EU</a>
                    </li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
            </div>
        </div>
    </nav>

{% endblock %}

{% block body %}
    <br/>
    <br/>
    <br/>
    {{ parent() }}

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#sailka" aria-controls="home" role="tab" data-toggle="tab">{{ "Saila / Azpisaila" | trans }}</a></li>
            <li role="presentation"><a href="#familiaka" aria-controls="profile" role="tab" data-toggle="tab">{{ "Familia / Azpifamilia" | trans }}</a></li>
        </ul>

        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="sailka">

                {% for saila in sailak %}
                    <div class="list-group col-sm-6">
                        <a class="list-group-item active" style="cursor: pointer;" onclick="erakutsiEzkutatu('fam{{ saila.id }}')">
                            <div class="list-group-item-wrapper">
                                <h4 class="list-group-item-heading active">
                                    {% if app.request.locale == 'eu' %}{{ saila.sailaeu }}{% else %}{{ saila.sailaes }}{% endif %}
                                </h4>
                            </div>
                        </a>
                        <div id='fam{{ saila.id }}' style='display: none;'>

                            {% for azpi in saila.azpisailak  %}
                                <a href="#" class="list-group-item list-group-item-success">
                                    {% if app.request.locale == 'eu' %}{{ azpi.azpisailaeu }}{% else %} {{ azpi.azpisailaes }}{% endif %}
                                    {% for fitxa in azpi.fitxak %}
                                        <a  data-id="{{ fitxa.id }}" href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitxa.id }) }}"
                                            class="list-group-item">
                                            {% if app.request.locale == 'eu' %}{{ fitxa.deskribapenaeu }}{% else %} {{ fitxa.deskribapenaes }}{% endif %}
                                        </a>

                                    {% endfor %}

                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>


            <div role="tabpanel" class="tab-pane" id="familiaka">

                {% for familia in familiak %}
                    <div class="list-group col-sm-6">
                        <a class="list-group-item active" style="cursor: pointer;"
                           onclick="erakutsiEzkutatu('fam{{ familia.id }}')">
                            <div class="list-group-item-wrapper">
                                <h4 class="list-group-item-heading active">
                                    {% if app.request.locale == 'eu' %}{{ familia.familiaeu }}{% else %} {{ familia.familiaes }}{% endif %}
                                </h4>
                                <p class="list-group-item-text">
                                    {% if app.request.locale == 'eu' %}{{ familia.deskribapenaeu }}{% else %} {{ familia.deskribapenaes }}{% endif %}
                                </p>
                            </div>
                        </a>
                        <div id='fam{{ familia.id }}' style='display: none;'>
                            {% for fitxafamilia  in  familia.fitxafamilia %}
                                <a href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitxafamilia.fitxa.id }) }}"
                                   class="list-group-item">
                                    {% if app.request.locale == 'eu' %}{{ fitxafamilia.fitxa.deskribapenaeu }}{% else %} {{ fitxafamilia.fitxa.deskribapenaes }}{% endif %}
                                </a>
                            {% endfor %}

                            {% for c in familia.children |sort %}
                                <a href="#" class="list-group-item list-group-item-success">
                                    {% if app.request.locale == 'eu' %}{{ c.familiaeu }}{% else %} {{ c.familiaes }}{% endif %}
                                    {% for fitx in c.fitxafamilia %}
                                        <a data-orden="{{ fitx.ordena }}" data-id="{{ fitx.id }}" href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitx.fitxa.id }) }}"
                                           class="list-group-item">
                                            {% if app.request.locale == 'eu' %}{{ fitx.fitxa.deskribapenaeu }}{% else %} {{ fitx.fitxa.deskribapenaes }}{% endif %}
                                        </a>

                                    {% endfor %}

                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function erakutsiEzkutatu($id) {
            if (document.getElementById($id).style.display == 'none') {
                document.getElementById($id).style.display = 'block';
            }
            else if (document.getElementById($id).style.display == 'block') {
                document.getElementById($id).style.display = 'none';
            }
        }

        function tamaina() {
            var temp = 0;
            $('.list-group .list-group-item-wrapper').each(function (index) {
                if ($(this).outerHeight() > temp) {
                    temp = $(this).outerHeight();
                }
            });
            $('.list-group .list-group-item-wrapper').css('min-height', temp);
        }
    </script>
{% endblock %}