{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for familia in familiak %}
            <div class="list-group col-sm-6">
                <a class="list-group-item active" style="cursor: pointer;" onclick="erakutsiEzkutatu('fam{{familia.id}}')">
                <div class="list-group-item-wrapper">
                    <h4 class="list-group-item-heading active">
                        {% if app.request.locale == 'eu'%}{{ familia.familiaeu }}{% else %} {{ familia.familiaes }}{% endif %}
                    </h4>
                    <p class="list-group-item-text">
                        {% if app.request.locale == 'eu'%}{{ familia.deskribapenaeu }}{% else %} {{ familia.deskribapenaes }}{% endif %}
                    </p>
                </div></a>
                <div id='fam{{ familia.id }}' style='display: none;'>
                    {% for fitxa in familia.fitxak %}
                        <a href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitxa.id }) }}" class="list-group-item">
                            {% if app.request.locale == 'eu'%}{{ fitxa.deskribapenaeu }}{% else %} {{ fitxa.deskribapenaes }}{% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}

    <div class="list-group col-sm-6">
        <a class="list-group-item active" style="cursor: pointer;" onclick="erakutsiEzkutatu('gehien')">
        {#<div class="list-group-item active">#}
        <div class="list-group-item-wrapper">
            <h4 class="list-group-item-heading active">
                {% if app.request.locale == 'eu'%}GEHIEN KONTSULTATUTAKOAK
                {% else %} MÁS CONSULTADOS
                {% endif %}
            </h4>
            <p class="list-group-item-text">
                {% if app.request.locale == 'eu'%}Gehien kontsultatuko tramiteak
                {% else %} Tramites más consultados
                {% endif %}
            </p>
        </div></a>

        {#{% for fitxa in fitxak %}#}
            {#<a href="{{ path('fitxa_show', { 'id': fitxa.id }) }}" class="list-group-item">{{ fitxa.deskribapenaeu }}</a>#}
        {#{% endfor %}#}

        <div id='gehien' style='display: none;'>
        {% set kont=0 %}
        {% for fitxa in fitxak if kont < 10 %}
            <a href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitxa.id }) }}" class="list-group-item">
                {% if app.request.locale == 'eu'%}{{ fitxa.deskribapenaeu }}{% else %} {{ fitxa.deskribapenaes }}{% endif %}
            </a>
            {% set kont=kont+1 %}
        {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function erakutsiEzkutatu($id)
        {
            if (document.getElementById($id).style.display == 'none')
            {
                document.getElementById($id).style.display = 'block';
            }
            else if (document.getElementById($id).style.display == 'block')
            {
                document.getElementById($id).style.display = 'none';
            }
        }

        function tamaina()
        {
            var temp = 0;
            $('.list-group .list-group-item-wrapper').each(function (index) {
                if($(this).outerHeight() > temp)
                {
                    temp = $(this).outerHeight();
                }
            });
            $('.list-group .list-group-item-wrapper').css('min-height',temp);
        }
    </script>
{% endblock %}