{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ app.user.udala.eremuak.doklagunlabeleu }} aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}

    <div class="row">
        <div class="col-sm-3">
            <div>
                {{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.kodea) }}
                {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.deskribapenaeu, 'Deskribapena (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.deskribapenaeu) }}
                {{ form_widget(edit_form.deskribapenaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.deskribapenaes, 'Deskribapena (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.deskribapenaes) }}
                {{ form_widget(edit_form.deskribapenaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.estekaeu, 'Esteka (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.estekaeu) }}
                {{ form_widget(edit_form.estekaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.estekaes, 'Esteka (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.estekaes) }}
                {{ form_widget(edit_form.estekaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



    <div class="row hidden">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


<div class="fitxaMenua">
    <ul>
        <input type="submit" value="Gorde" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('doklagun_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
</div>
{% endblock %}
