{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{% if app.user.udala.eremuak %}{{ app.user.udala.eremuak.doklagunlabeleu }}{% endif %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('doklagun_new') }}" class="fa fa-plus"> {{ 'messages.berria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.kodea'|trans }}</th>
                <th>{{ 'messages.deskribapena'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for doklagun in doklaguns %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ doklagun.udala }}</td>{% endif %}
                <td>{{ doklagun.kodea }}</td>
                <td>
                    {% if app.request.locale == 'es'%}{{ doklagun.deskribapenaes }}
                    {% else %}{{ doklagun.deskribapenaeu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('doklagun_edit', { 'id': doklagun.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[doklagun.id],{'attr': {'id': doklagun.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ doklagun.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[doklagun.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[doklagun.id],{'attr': {'id': doklagun.id}}) }}
                                <a href="#" onclick="ezabatu({{ doklagun.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[doklagun.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if doklaguns is not empty %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
            {#var r = confirm("{% if app.user.udala.eremuak %}{{ app.user.udala.eremuak.doklagunlabeleu }}{% endif %} EZABATU. Ziur zaude?");#}
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}