{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ app.user.udala.eremuak.besteak3labeleu }} aldatu</h1>

    {{ form_start(edit_form) }}
    {#{{ form_widget(edit_form) }}#}


    <div class="row">
        <div class="col-sm-3">
            <div>
                {{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.kodea) }}
                {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.izenburuaeu, 'Izenburua (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.izenburuaeu) }}
                {{ form_widget(edit_form.izenburuaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.izenburuaes, 'Izenburua (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.izenburuaes) }}
                {{ form_widget(edit_form.izenburuaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.estekaeu, 'Esteka (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.estekaeu) }}
                {{ form_widget(edit_form.estekaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.estekaes, 'Esteka (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.estekaes) }}
                {{ form_widget(edit_form.estekaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    <div class="row hidden">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>









    <div class="fitxaMenua">
        <ul>
            <li><input type="submit" value="Gorde" class="btn btn-primary"/></li>
            {{ form_end(edit_form) }}
            <li>
                <a href="{{ path('besteak3_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
            </li>
        </ul>
    </div>
{% endblock %}