{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                {#<a class="navbar-brand">{% if app.user.udala.eremuak %}{{ app.user.udala.eremuak.besteak3labeleu }}{% endif %}</a>#}
                {% if app.user.udala.eremuak %}
                    {% if app.request.locale == 'es'%}{{ app.user.udala.eremuak.besteak3labeles }}
                    {% else %}{{ app.user.udala.eremuak.besteak3labeleu }}
                    {% endif %}
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    {#<li><a href="{{ path('besteak3_new') }}" class="fa fa-plus">{% if app.user.udala.eremuak %} {{ app.user.udala.eremuak.besteak3labeleu }}{% else %}Sarrera{% endif %} berria</a></li>#}
                    <li><a href="{{ path('besteak3_new') }}" class="fa fa-plus"> {{ 'messages.berria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}

    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.kodea'|trans }}</th>
                <th>{{ 'messages.izenburua'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for besteak3 in besteak3s %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ besteak3.udala }}</td>{% endif %}
                <td>{{ besteak3.kodea }}</td>
                <td>{{ besteak3.izenburuaeu }}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('besteak3_edit', { 'id': besteak3.id }) }}" class="fa fa-pencil"></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>{{ form_start(deleteforms[besteak3.id],{'attr': {'id': besteak3.id}}) }}
                            <a href="#" onclick="ezabatu({{ besteak3.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                            {{ form_end(deleteforms[besteak3.id]) }}</li>
                    {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if besteak3s is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'besteak3_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
//            var r = confirm("Besteak3 EZABATU. Ziur zaude?");
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}