{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kalea aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}



    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.barrutia, 'Barrutia: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.barrutia) }}
                {{ form_widget(edit_form.barrutia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.izena, 'Kale izena: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.izena) }}
                {{ form_widget(edit_form.izena, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>




<div class="row hidden">
    <div class="col-sm-4">
        <div>
            {{ form_label(edit_form.google, 'Google-eko izena: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.google) }}
            {{ form_widget(edit_form.google, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.udala) }}
            {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="fitxaMenua">
    <ul>
        <li><input type="submit" value="Gorde" class="btn btn-primary"/></li>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('kalea_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
</div>
{% endblock %}
