{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.kaleak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'|trans }}</a></li>
                    <li><a href="{{ path('kalea_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.barrutia'|trans }}</b>
                {#{{ form_label(edit_form.barrutia, 'Barrutia: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.barrutia) }}
                {{ form_widget(edit_form.barrutia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.izena'|trans }}</b>
                {#{{ form_label(edit_form.izena, 'Kale izena: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.izena) }}
                {{ form_widget(edit_form.izena, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-4 hidden">
            <div class="form-group">
                {{ form_label(edit_form.google, 'Google-eko izena: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.google) }}
                {{ form_widget(edit_form.google, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'|trans }}</b>
                {#{{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
