{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.espedientekudeaketa'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('espedientekudeaketa_new') }}" class="fa fa-plus"> {{ 'messages.berria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'messages.izena'|trans }}</th>
                <th>{{ 'messages.esteka'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for espedientekudeaketum in espedientekudeaketas %}
            <tr>
                <td>
                    {% if app.request.locale == 'es'%}{{ espedientekudeaketum.izenaes }}
                    {% else %}{{ espedientekudeaketum.izenaeu }}
                    {% endif %}
                </td>
                <td>
                    {% if app.request.locale == 'es'%}{{ espedientekudeaketum.urles }}
                    {% else %}{{ espedientekudeaketum.urleu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('espedientekudeaketa_edit', { 'id': espedientekudeaketum.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[espedientekudeaketum.id],{'attr': {'id': espedientekudeaketum.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ espedientekudeaketum.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[espedientekudeaketum.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[espedientekudeaketum.id],{'attr': {'id': espedientekudeaketum.id}}) }}
                                <a href="#" onclick="ezabatu({{ espedientekudeaketum.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[espedientekudeaketum.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if espedientekudeaketas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'espedientekudeaketa_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
//            var r = confirm("Espediente-kudeaketa EZABATU. Ziur zaude? Ekintza honek espediente-kudeaketaren zerbitzu guztiak ezabatuko ditu!!");
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}