{% block body %}
            <div class="col-sm-2 hidden">
                {{ form_label(form.udala) }}
                {{ form_widget(form.udala, {'value' : udal.id }, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 hidden">
                {{ form_label(form.fitxa) }}
                {{ form_widget(form.fitxa, {'value' : fitxa.id }, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(form.prozedura, {'attr': {'class': 'form-control prozedurasel'}}) }}
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.ordena, {'attr': {'class': 'form-control'}}) }}
            </div>
{% endblock %}
