{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('zerbitzua_new') }}" class="btn btn-primary">Zerbitzu berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Zerbitzuaeu</th>
            </tr>
        </thead>
        <tbody>
        {% for zerbitzua in zerbitzuas %}
            <tr>
                <td><a href="{{ path('zerbitzua_edit', { 'id': zerbitzua.id }) }}">{{ zerbitzua.kodea }}</a></td>
                <td>{{ zerbitzua.zerbitzuaeu }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('zerbitzua_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
