{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.zerbitzua'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('zerbitzua_new') }}" class="fa fa-plus"> {{ 'messages.zerbitzuberria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'messages.kodea'|trans }}</th>
                {#<th>Espediente kudeaketa</th>#}
                <th>{{ 'messages.zerbitzua'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for zerbitzua in zerbitzuas %}
            <tr>
                <td>{{ zerbitzua.kodea }}</td>
                {#<td>{{ zerbitzua.espedientekudeaketa }}</td>#}
                <td>
                    {% if app.request.locale == 'es'%}{{ zerbitzua.zerbitzuaes }}
                    {% else %}{{ zerbitzua.zerbitzuaeu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('zerbitzua_edit', { 'id': zerbitzua.id }) }}" ><i class="fa fa-pencil"></i></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[zerbitzua.id],{'attr': {'id': zerbitzua.id}}) }}
                                <a href="#" onclick="ezabatu({{ zerbitzua.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[zerbitzua.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if zerbitzuas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'zerbitzua_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
//            var r = confirm("Zerbitzua EZABATU. Ziur zaude?");
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}