{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('udala_new') }}" class="btn btn-primary">Udal berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Udalak</h1>
    <table>
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Udala</th>
                <th>Ifk</th>
                <th>Izendapenaeu</th>
            </tr>
        </thead>
        <tbody>
        {% for udala in udalas %}
            <tr>
                <td><a href="{{ path('udala_show', { 'id': udala.id }) }}">{{ udala.kodea }}</a></td>
                <td>{{ udala.izenaeu }}</td>
                <td>{{ udala.ifk }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('udala_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
