{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Epe-Arruntak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('arrunta_new') }}" class="fa fa-plus"> Epe berria sortu</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Epea</th>
            </tr>
        </thead>
        <tbody>
        {% for arruntum in arruntas %}
            <tr>
                {#<td><a href="{{ path('arrunta_show', { 'id': arruntum.id }) }}">{{ arruntum.epeaeu }}</a></td>#}
                {#<td><a href="{{ path('arrunta_edit', { 'id': arruntum.id }) }}">{{ arruntum.epeaeu }}</a></td>#}
                <td>{{ arruntum.epeaeu }}</td>
                <td>
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('arrunta_show', { 'id': arruntum.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            <a href="{{ path('arrunta_edit', { 'id': arruntum.id }) }}"  class="fa fa-pencil"></a>
                        {#</li>#}
                    {#</ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
