{% extends 'base.html.twig' %}

{% block body %}
    <h1>Barrutia aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}

<div class="row">
    <div class="col-sm-6">
        <div>
            {{ form_label(edit_form.izena, 'Barrutia: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.izena) }}
            {{ form_widget(edit_form.izena, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row hidden">
    <div class="col-sm-6">
        <div>
            {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(edit_form.udala) }}
            {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>



<div class="fitxaMenua">
    <ul>
        <li><input type="submit" value="Gorde" class="btn btn-primary"/></li>
        {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('barrutia_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
{% endblock %}
