{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.prozedurak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('prozedura_new') }}" class="fa fa-plus"> {{ 'messages.prozeduraberria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.prozedura'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for prozedura in prozeduras %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ prozedura.udala }}</td>{% endif %}
                <td>
                    {% if app.request.locale == 'es'%}{{ prozedura.prozeduraes }}
                    {% else %}{{ prozedura.prozeduraeu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('prozedura_edit', { 'id': prozedura.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[prozedura.id],{'attr': {'id': prozedura.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ prozedura.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[prozedura.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[prozedura.id],{'attr': {'id': prozedura.id}}) }}
                                <a href="#" onclick="ezabatu({{ prozedura.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[prozedura.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if prozeduras is not empty %}

        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
//            var r = confirm("Prozedura EZABATU. Ziur zaude?");
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}
