{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('prozedura_new') }}" class="btn btn-primary">Prozedura berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Prozedurak</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prozeduraeu</th>
                {#<th>Prozeduraes</th>#}
                {#<th>Id</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for prozedura in prozeduras %}
            <tr>
                <td><a href="{{ path('prozedura_edit', { 'id': prozedura.id }) }}">{{ prozedura.prozeduraeu }}</a></td>
                {#<td>{{ prozedura.prozeduraes }}</td>#}
                {#<td>{{ prozedura.id }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('prozedura_show', { 'id': prozedura.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('prozedura_edit', { 'id': prozedura.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#<div class="fitxaMenua">#}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('prozedura_new') }}" class="btn btn-primary">Prozedura berria</a>#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{% endblock %}
