{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.araumotak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('araumota_new') }}" class="fa fa-plus"> {{ 'messages.araumotaberria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {#<h1>Arau-motak</h1>#}

    <table class="table" id="taulazerrenda">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'|trans }}</th>{% endif %}
                <th>{{ 'messages.kodea'|trans }}</th>
                <th>{{ 'messages.mota'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for araumotum in araumotas %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ araumotum.udala }}</td>{% endif %}
                <td>{{ araumotum.kodea }}</td>
                <td>
                    {% if app.request.locale == 'es'%}{{ araumotum.motaes }}
                    {% else %}{{ araumotum.motaeu }}
                    {% endif %}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('araumota_edit', { 'id': araumotum.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[araumotum.id],{'attr': {'id': araumotum.id}}) }}#}
                                {#<a href="#" onclick="document.getElementById({{ araumotum.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                                {#{{ form_end(deleteforms[araumotum.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[araumotum.id],{'attr': {'id': araumotum.id}}) }}
                                <a href="#" onclick="ezabatu({{ araumotum.id }},'{{ 'messages.ziurzaude'|trans }}');" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[araumotum.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if araumotas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'araumota_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id,mezua)
        {
//            var r = confirm("Arau-mota EZABATU. Ziur zaude?");
            var r = confirm(mezua);
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}