{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.kanalak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'|trans }}</a></li>
                    <li><a href="{{ path('kanala_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.kanaltelematikoa'|trans }}</b>
                {#{{ form_label(edit_form.telematikoa, 'Telematikoa da? ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.telematikoa) }}
                {{ form_widget(edit_form.telematikoa, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <b>{{ 'messages.kanalmota'|trans }}</b>
                {#{{ form_label(edit_form.kanalmota, 'Kanal-mota: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.kanalmota) }}
                {{ form_widget(edit_form.kanalmota, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.kanala'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.izenaeu, 'Kanala (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.izenaeu) }}
                {{ form_widget(edit_form.izenaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.kanala'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.izenaes, 'Kanala (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.izenaes) }}
                {{ form_widget(edit_form.izenaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.deskribapena'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.deskribapenaeu, 'Deskribapena (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.deskribapenaeu) }}
                {{ form_widget(edit_form.deskribapenaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.deskribapena'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.deskribapenaes, 'Deskribapena (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.deskribapenaes) }}
                {{ form_widget(edit_form.deskribapenaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.esteka'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.estekaeu, 'Esteka (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.estekaeu) }}
                {{ form_widget(edit_form.estekaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.esteka'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.estekaes, 'Esteka (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.estekaes) }}
                {{ form_widget(edit_form.estekaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.telefonoa'|trans }}</b>
                {#{{ form_label(edit_form.telefonoa, 'Telefonoa: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.telefonoa) }}
                {{ form_widget(edit_form.telefonoa, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.fax'|trans }}</b>
                {#{{ form_label(edit_form.fax, 'FAX: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.fax) }}
                {{ form_widget(edit_form.fax, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.ordutegia'|trans }}</b>
                {#{{ form_label(edit_form.ordutegia, 'Ordutegia: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.ordutegia) }}
                {{ form_widget(edit_form.ordutegia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <b>{{ 'messages.barrutia'|trans }}</b>
                {#{{ form_label(edit_form.barrutia, 'Barrutia: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.barrutia) }}
                {{ form_widget(edit_form.barrutia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.kalea'|trans }}</b>
                {#{{ form_label(edit_form.kalea, 'Kalea: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.kalea) }}
                {{ form_widget(edit_form.kalea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <b>{{ 'messages.kalezbkia'|trans }}</b>
                {#{{ form_label(edit_form.kalezbkia, 'Kale zenbakia: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.kalezbkia) }}
                {{ form_widget(edit_form.kalezbkia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <b>{{ 'messages.eraikina'|trans }}</b>
                {#{{ form_label(edit_form.eraikina, 'Eraikina: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.eraikina) }}
                {{ form_widget(edit_form.eraikina, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <b>{{ 'messages.postakodea'|trans }}</b>
                {#{{ form_label(edit_form.postakodea, 'Posta kodea: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.postakodea) }}
                {{ form_widget(edit_form.postakodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>







    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'|trans }}</b>
                {#{{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
