{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Kanalak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('kanala_new') }}" >Kanal berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Kanal-mota</th>
                <th>Izena</th>
                <th>Deskribapena</th>
                <th>Telematikoa da?</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for kanala in kanalas %}
            <tr>
                <td>{{ kanala.kanalmota }}</td>
                <td><a href="{{ path('kanala_edit', { 'id': kanala.id }) }}">{{ kanala.izenaeu }}</a></td>
                <td>{{ kanala.deskribapenaeu }}</td>
                <td>{% if kanala.telematikoa %}Bai{% else %}Ez{% endif %}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('kanala_edit', { 'id': kanala.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
