{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Kanalak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('kanala_new') }}" class="fa fa-plus"> Kanal berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Kanal-mota</th>
                <th>Izena</th>
                <th>Deskribapena</th>
                <th>Telematikoa da?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for kanala in kanalas %}
            <tr>
                <td>{{ kanala.kanalmota }}</td>
                <td>{{ kanala.izenaeu }}</td>
                <td>{{ kanala.deskribapenaeu }}</td>
                <td>{% if kanala.telematikoa %}Bai{% else %}Ez{% endif %}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                            <li><a href="{{ path('kanala_edit', { 'id': kanala.id }) }}" class="fa fa-pencil"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[kanala.id],{'attr': {'id': kanala.id}}) }}
                                <a href="#" onclick="document.getElementById({{ kanala.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[kanala.id]) }}</li>
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if kanalas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'kanala_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>Ez da emaitzarik topatu</p>
        {% endif %}
    </div>
{% endblock %}
