{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.azpisailak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('azpisaila_new') }}"
                           class="fa fa-plus"> {{ 'messages.azpisailberria'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <table class="table" id="taulazerrenda">
        <thead>
        <tr>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>{{ 'messages.udala'|trans }}</th>{% endif %}
            <th>{{ 'messages.kodea'|trans }}</th>
            <th>{{ 'messages.azpisaila'|trans }}</th>
            <th>{{ 'messages.arduraduna'|trans }}</th>
            <th>{{ 'messages.kontaktua'|trans }}</th>
            <th>{{ 'messages.helbidea'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for azpisaila in azpisailas %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{{ azpisaila.udala }}</td>{% endif %}

                <td>{{ azpisaila.kodea }}</td>
                <td>
                    {% if app.request.locale == 'es' %}{{ azpisaila.hizkia }}-{{ azpisaila.azpisailaes }}
                    {% else %}{{ azpisaila.hizkia }}-{{ azpisaila.azpisailaeu }}
                    {% endif %}
                </td>
                <td>{{ azpisaila.arduraduna }}</td>
                <td>{% if azpisaila.email %}{{ azpisaila.email }}<br/>{% endif %}
                    {% if azpisaila.telefonoa %}{{ azpisaila.telefonoa }}<br/>{% endif %}
                    {% if azpisaila.fax %}{{ azpisaila.fax }}<br/>{% endif %}
                    {% if azpisaila.ordutegia %}{{ azpisaila.ordutegia }}{% endif %}
                <td>{{ azpisaila.kalea }} {{ azpisaila.kaleZbkia }}, {{ azpisaila.barrutia }}<br/>
                    {{ azpisaila.eraikina }}
                </td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('azpisaila_edit', { 'id': azpisaila.id }) }}" class="fa fa-pencil"></a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>{{ form_start(deleteforms[azpisaila.id],{'attr': {'id': azpisaila.id}}) }}
                                <a href="#" onclick="ezabatu({{ azpisaila.id }},'{{ 'messages.ziurzaude'|trans }}');"><i
                                            class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[azpisaila.id]) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% if azpisailas is not empty %}

        {% else %}
            <p>{{ 'messages.emaitzarikez'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu(id, mezua) {
            var r = confirm(mezua);
            if (r == true) {
                document.getElementById(id).submit()
            } else {
            }
        }
        ;
    </script>
{% endblock %}