{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baldintza aldatu</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}


    <div class="row">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.baldintzaeu, 'Baldintza (eu): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.baldintzaeu) }}
                {{ form_widget(edit_form.baldintzaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.baldintzaes, 'Baldintza (es): ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.baldintzaes) }}
                {{ form_widget(edit_form.baldintzaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>





    <div class="row hidden">
        <div class="col-sm-6">
            <div>
                {{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



<div class="fitxaMenua">
    <ul>
        <li><input type="submit" value="Gorde" class="btn btn-primary"/></li>
    {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('baldintza_index') }}" class="btn btn-primary">Zerrendara itzuli</a>
        </li>
    </ul>
</div>
{% endblock %}
