{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Baldintzak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('baldintza_new') }}">Baldintza berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Baldintzaeu</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for baldintza in baldintzas %}
            <tr>
                <td><a href="{{ path('baldintza_edit', { 'id': baldintza.id }) }}">{{ baldintza.baldintzaeu }}</a></td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('baldintza_edit', { 'id': baldintza.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
