{% block body %}
    <div class="col-sm-2 hidden">
        {{ form_widget(form.udala, {'value' : fitxa.udala.id }, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="col-sm-3 hidden">
        {{ form_widget(form.fitxa, {'value' : fitxa.id }, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-7">
        {{ form_widget(form.araudia, {'attr': {'class': 'form-control araudiasel'}}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.atalaeu, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.atalaes, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endblock %}
