{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Eremuak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('eremuak_new') }}">Eremu berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {#<h1>Eremuak</h1>#}
    <table>
        <thead>
            <tr>
                <th>Udala</th>
            </tr>
        </thead>
        <tbody>
        {% for eremuak in eremuaks %}
            <tr>
                <td><a href="{{ path('eremuak_edit', { 'id': eremuak.id }) }}">{{ eremuak.udala }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('eremuak_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
