{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('eremuak_new') }}" class="btn btn-primary">Eremu berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Eremuak</h1>

    <table>
        <thead>
            <tr>
                <th>Udala</th>
            </tr>
        </thead>
        <tbody>
        {% for eremuak in eremuaks %}
            <tr>
                <td><a href="{{ path('eremuak_edit', { 'id': eremuak.id }) }}">{{ eremuak.udala }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('eremuak_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
