{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Kanal-motak</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('kanalmota_new') }}" >Kanal-mota berria</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Mota</th>
                <th>Esteka</th>
            </tr>
        </thead>
        <tbody>
        {% for kanalmotum in kanalmotas %}
            <tr>
                <td><a href="{{ path('kanalmota_edit', { 'id': kanalmotum.id }) }}">{{ kanalmotum.motaeu }}</a></td>
                <td>{% if kanalmotum.esteka %}Bai{% else %}Ez{% endif %}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('kanalmota_edit', { 'id': kanalmotum.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
