{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.kanalmotak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'|trans }}</a></li>
                    <li><a href="{{ path('kanalmota_index') }}" class="fa fa-undo"> {{ 'messages.utzi'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.estekabehar'|trans }}</b>
                {#{{ form_label(form.esteka, 'Esteka behar du?: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(form.esteka) }}
                {{ form_widget(form.esteka, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.kanalmota'|trans }} (<b>{{ 'messages.eu'|trans }}</b>)</b>
                {#{{ form_label(form.motaeu, 'Kanal-mota (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(form.motaeu) }}
                {{ form_widget(form.motaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <b>{{ 'messages.kanalmota'|trans }} (<b>{{ 'messages.es'|trans }}</b>)</b>
                {#{{ form_label(form.motaes, 'Kanal-mota (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(form.motaes) }}
                {{ form_widget(form.motaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
    {% else %}
    <div class="row hidden">
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'|trans }}</b>
                {#{{ form_label(form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(form.udala) }}
                {{ form_widget(form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>



    {{ form_end(form) }}
{% endblock %}
