{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kanalmota</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kanalmotum.id }}</td>
            </tr>
            <tr>
                <th>Motaeu</th>
                <td>{{ kanalmotum.motaeu }}</td>
            </tr>
            <tr>
                <th>Motaes</th>
                <td>{{ kanalmotum.motaes }}</td>
            </tr>
            <tr>
                <th>Esteka</th>
                <td>{% if kanalmotum.esteka %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ikonoa</th>
                <td>{{ kanalmotum.ikonoa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kanalmota_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kanalmota_edit', { 'id': kanalmotum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
