{#{% extends 'base.html.twig' %}#}
{% block body %}
    {{ form_start(form) }}

    <tr>
        <td colspan="1" class="col-sm-1 hidden">
            {#{{ form_label(form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
            {{ form_widget(form.udala,{'value' : azpiatala.udala.id }) }}
            {#{{ form_label(form.azpiatala, 'Azpiatala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
            {{ form_widget(form.azpiatala,{'value' : azpiatala.id }) }}
        </td>

        <td colspan="1" class="col-sm-1">
            {{ form_widget(form.kodea) }}
        </td>

        <td colspan="4" class="col-sm-4">
            {{ form_widget(form.kontzeptuaeu) }}
        </td>
        <td colspan="1" class="col-sm-1">
                {{ form_widget(form.kopurua) }}
                {{ form_widget(form.unitatea) }}
        </td>
        <td colspan="4" class="col-sm-4">
            {{ form_widget(form.kontzeptuaes) }}
        </td>
        <td colspan="1" class="col-sm-1">
                {{ form_widget(form.kontzeptumota) }}
                {{ form_widget(form.baldintza) }}
        </td>
    </tr>
    {{ form_end(form) }}
{% endblock %}
