{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.dokumentumotak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'|trans }}</a></li>
                    <li><a href="{{ path('dokumentumota_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <b>{{ 'messages.kodea'|trans }}</b>
                {#{{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.kodea) }}
                {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.mota'|trans }} ({{ 'messages.eu'|trans }})</b>
                {#{{ form_label(edit_form.motaeu, 'Dokumentu-mota (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.motaeu) }}
                {{ form_widget(edit_form.motaeu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.mota'|trans }} ({{ 'messages.es'|trans }})</b>
                {#{{ form_label(edit_form.motaes, 'Dokumentu-mota (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.motaes) }}
                {{ form_widget(edit_form.motaes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
    {% else %}
    <div class="row hidden">
    {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'|trans }}</b>
                {#{{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
