{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('dokumentumota_new') }}" class="btn btn-primary">Sarrera berria</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Dokumentu-motak</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kodea</th>
                <th>Mota</th>
                {#<th>Motaes</th>#}
                {#<th>Id</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for dokumentumotum in dokumentumotas %}
            <tr>
                <td><a href="{{ path('dokumentumota_edit', { 'id': dokumentumotum.id }) }}">{{ dokumentumotum.kodea }}</a></td>
                <td>{{ dokumentumotum.motaeu }}</td>
                {#<td>{{ dokumentumotum.motaes }}</td>#}
                {#<td>{{ dokumentumotum.id }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('dokumentumota_show', { 'id': dokumentumotum.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('dokumentumota_edit', { 'id': dokumentumotum.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#<div class="fitxaMenua">#}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('dokumentumota_new') }}" class="btn btn-primary">Sarrera berria</a>#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{% endblock %}
